@model NavigationBreadcrumbViewModel
<div class="govuk-breadcrumbs" id="@Model.Component.id">
    <div class="govuk-width-container">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="/" id="breadcrumb-link-home" class="govuk-breadcrumbs__link">Home</a>
            </li>
                @foreach (var link in Model.Breadcrumbs)
                {
                    <li class="govuk-breadcrumbs__list-item">
                    @if (Model.Breadcrumbs.IndexOf(link) == Model.Breadcrumbs.Count - 1)
                    {
                        <span>@link.LinkText</span>
                    }
                    else
                    {
                        <a href="@link.LinkUrl" id="@link.GetGaLinkId("breadcrumb-link-")" class="govuk-breadcrumbs__link">@link.LinkText</a>
                    }
                    </li>
                }
        </ol>
    </div>
</div>

