@model Beis.LearningPlatform.Web.Models.CmsThreeColumnHeroesViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="govuk-width-container beis-three-column-hero" id="@Model.Component.id">
    <div class="govuk-grid-row">
        @foreach (var column in Model.Columns)
        {
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-m beis-three-column-hero__heading">@column.Header</h3>
                <p class="govuk-body beis-three-column-hero__content">@column.Intro</p>
                <a id="@column.GetGaLinkId("three-col-link-")" href="@column.LinkUrl" title="@column.LinkText" class="beis-icon-link beis-icon-link--l">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                        <path fill="currentColor" d="M11.15,0C4.99,0,0,4.99,0,11.15s4.99,11.15,11.15,11.15s11.15-4.99,11.15-11.15S17.31,0,11.15,0z M17.45,11.16 l-5.72,5.72l-1.25-1.25l3.59-3.59h-9.6v-1.77h9.6l-3.59-3.59l1.25-1.25L17.45,11.16L17.45,11.16L17.45,11.16z"/>
                    </svg>
                    @column.LinkText
                </a>
            </div>
        }
    </div>
</div>