@model Beis.LearningPlatform.Web.Models.CmsThreeColumnHeroesViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="three-column-heroes" id="@Model.Component.id">
    <div class="govuk-width-container govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <div class="govuk-grid-row beis-columns-same-height">
            @foreach (var column in Model.Columns)
            {
                <div class="govuk-grid-column-one-third govuk-body">
                    <h3 class="govuk-!-margin-bottom-2">@column.Header</h3>
                    <p class="govuk-!-margin-top-2">@column.Intro</p>
                    <img src="/assets//images/link-arrow.svg" class="beis-link-icon link-icon-align govuk-!-margin-right-1" width="20" height="20" />
                    <a id="@column.GetGaLinkId("three-col-link-")" href="@column.LinkUrl" title="@column.LinkText" class="govuk-link">@column.LinkText</a>
                </div>
            }
        </div>
    </div>
</div>