@model Beis.LearningPlatform.Web.Models.CmsCaseStudyViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="beis-case-study">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl beis-case-study__heading">@Model.Component.content.header</h1>
        <h2 class="govuk-heading-l beis-case-study__sub-heading">@Model.Component.content.subheader</h2>
        <div class="govuk-grid-row">                                                                              
            <div class="govuk-grid-column-one-half beis-float-right-from-tablet">
                @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                {
                    <img class="beis-case-study__image" src="@Model.ImageUrl" alt="">
                }
                @if (!string.IsNullOrWhiteSpace(Model.Component.videoLink))
                {
                    <div class="beis-case-study__video-wrap">
                        <div class="beis-case-study__video">
                            <iframe width="560" height="315" src="@Model.Component.videoLink" title="@Model.Component.VideoTitle" style="border:none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                }
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="beis-case-study__content">
                    @Html.Raw(Model.HtmlCopy)
                </div>
            </div>
        </div>
    </div>
</div>