@model CmsSearchArticleListingViewModel

<div class="govuk-width-container">
    <details class="govuk-details" data-module="govuk-details" open>
        <summary class="govuk-details__summary beis-details__summary">
            <span class="beis-details__summary-text">Filters</span>
        </summary>
        <form method="get">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-top-4">Filter by subject</legend>
                @{
                    var distinctTags = Model.DistinctTags.ToList();
                }
                @for (int i = 0; i < distinctTags.Count; i++)
                {
                    var tag = distinctTags[i];
                    
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-tag-@tag.id" type="checkbox" value="@tag.id" name="tag-ids" checked="@(Model.IsTagSelected(tag))" >
                                <label class="govuk-label govuk-checkboxes__label" for="filter-tag-@tag.id">
                                    @tag.displayName
                                </label>
                            </div>
                        </div>
                        @{
                            i++;
                            if(i >= distinctTags.Count)
                            {
                                break;
                            }
                            tag = distinctTags[i];
                        }
                        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="filter-tag-@tag.id" type="checkbox" value="@tag.id" name="tag-ids" checked="@(Model.IsTagSelected(tag))" >
                                <label class="govuk-label govuk-checkboxes__label" for="filter-tag-@tag.id">
                                    @tag.displayName
                                </label>
                            </div>  
                        </div>

                    </div>
                }
            </fieldset>  
            <div class="govuk-button-group govuk-!-margin-top-4">
                <button type="submit" class="govuk-button beis-button--primary">Apply filters</button>
                <a type="button" role="button" href="@Model.PageName" class="govuk-button govuk-button--secondary" data-module="govuk-button">Reset filters</a>
            </div>
        </form>
        <hr class="govuk-section-break govuk-section-break--visible">
    </details>
 </div>

<div class="govuk-width-container beis-article-list" id="@Model.Component.id">
    <h2 class="govuk-heading-l beis-article-list__heading">@Model.Header</h2>
    @foreach (var article in Model.FullSearchArticles)
    {
        <vc:full-search-article full-search-article="@article" page-name="@Model.PageName" />
    }
</div>