@using Beis.LearningPlatform.Web.Utils
@using Beis.LearningPlatform.Web.Constants
@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel

<div class="govuk-width-container js-go-back-link-container" style="display:none;">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a id="link-comparisontoolviews-compare-productdetails-back-link" href="javascript:" class="govuk-back-link" data-tabclick="true">Back</a>
        </div>
    </div>
</div>

<partial name="CMSPageViews/_PartialRenderCMSComponents" model="@Model.CMSPageViewModel" />
@if (Model.CMSPageViewModel.hero_banners != null)
{
    <partial name="CMSPageViews/_PartialHeroBanner" model="@Model.CMSPageViewModel" />
}

@if (Model.products?.Count is > 0 and <= 3)
{
    <div class="govuk-width-container govuk-!-padding-top-6">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Digital accounting software</h1>
                <dl class="beis-summary-product-list">
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Product
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1)">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="@Model.VendorProdLogorUrl/@Model.products[i].product_logo" width="90" alt="">
                                </div>
                                <a id="link-comparisontoolviews-compareproducts-@(Model.products[i].GetGaLinkId())" class="govuk-link" href="@Model.products[i].website_url">
                                    @ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)
                                    <span class="govuk-visually-hidden">
                                        @ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)
                                    </span>
                                </a>
                            </div>
                        </dd>
                    }
            </div>
            </dl>
            <div class="govuk-summary-list-mobile">
                @for (var i = 0; i < Model.products.Count; i++)
                {
                    <div class="product@(i+1)">
                        <div class="web-link">
                            <a id="link-comparisontoolviews-compareproducts-@(Model.products[i].GetGaLinkId())" class="govuk-link" href="@Model.products[i].website_url">
                                Visit supplier website<span class="govuk-visually-hidden"> Visit supplier website</span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop comparison-tool">
            <h2 class="govuk-heading-m beis-blue-text govuk-!-margin-bottom-6 govuk-!-margin-top-6">Features and support</h2>
            <p class="govuk-body beis-black-text">
                This section explains key features, compatibility and the support that’s included as standard.
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Key features
                </dt>
                @for (var i = 0; i < Model.products.Count; i++)
                {
                    <dd class="govuk-summary-list__product@(i+1)">
                        <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                        @foreach (var feature in Model.products[i].productCapabilities)
                        {
                            <p>@(Model.products[i].settingsProductCapabilities.Where(item=>item.capability_id ==  feature.capability_id).FirstOrDefault()?.capability_name)</p>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.products[i].other_capabilities))
                        {
                            <p>@Model.products[i].other_capabilities</p>
                        }
                    </dd>
                }
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Platform/compatibility
            </dt>
            @for (var i = 0; i < Model.products.Count; i++)
            {
                <dd class="govuk-summary-list__product@(i+1)">
                    <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                    @foreach (var filter in Model.products[i].productPltatformCompatibilityFilters)
                    {
                        <p>@(Model.products[i].settingsProductPltatformCompatibilityFilters.Where(item=>item.filter_id ==  filter.filter_id).FirstOrDefault()?.filter_name)</p>
                    }
                </dd>
            }
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Product support
            </dt>
            @for (var i = 0; i < Model.products.Count; i++)
            {
                <dd class="govuk-summary-list__product@(i+1)">
                    <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                    @foreach (var filter in Model.products[i].productSupportFilters)
                    {
                        <p>@(Model.products[i].settingsProductSupportFilters.Where(item=>item.filter_id ==  filter.filter_id).FirstOrDefault()?.filter_name)</p>
                    }
                </dd>
            }
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Training support
            </dt>
            @for (var i = 0; i < Model.products.Count; i++)
            {
                <dd class="govuk-summary-list__product@(i+1)">
                    <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                    @foreach (var filter in Model.products[i].productTrainingFilters)
                    {
                        <p>@(Model.products[i].settingsProductTrainingFilters.Where(item=>item.filter_id ==  filter.filter_id).FirstOrDefault()?.filter_name)</p>
                    }
                </dd>
            }
        </div>
        </dl>
    </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop comparison-tool">
            <h2 class="govuk-heading-m beis-blue-text">Pricing</h2>
            <p class="govuk-body beis-black-text">Here you can find details of what you’ll pay before the Help to Grow: Digital discount has been applied, how long you’ll pay this fee for, and if this product includes a free trial.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Minimum contract term
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>@Model.products[i].contractTerm</p>
                        </dd>
                    }
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Payment term
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>@Model.products[i].paymentTerm</p>
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Minimum number of licences
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>@Model.products[i].minLicences</p>
                        </dd>
                    }
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Free trial
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>@Model.products[i].freeTrial</p>
                        </dd>
                    }
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Price (excl. VAT)
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>
                                From @Model.products[i].priceDisplayed
                                @if (Model.products[i].ProductPriceNumberOfUsers.HasValue)
                                {
                                    <span> for @Model.products[i].ProductPriceNumberOfUsers user@(Model.products[i].ProductPriceNumberOfUsers > 1 ? "s" : string.Empty)</span>
                                }
                            </p>
                        </dd>
                    }
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contract discount
                    </dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            <p>@Model.products[i].contractDiscount</p>
                        </dd>
                    }
                </div>

                @if(Model.AnyProductHasTransactionFees)
                {
                    <div class="govuk-summary-list__row">
                        <div class="govuk-grid-column-two-thirds-from-desktop comparison-tool govuk-!-padding-left-0">
                            <h2 class="govuk-heading-m beis-blue-text govuk-!-margin-top-8">Transaction fees</h2>
                        </div>
                    </div>
                    @foreach(var transactionFeeDescription in Model.ComparisonTransactionFeeDescriptions)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @transactionFeeDescription
                            </dt>
                            @for (var i = 0; i < Model.products.Count; i++)
                            {
                                var costAndFrequency = Model.products[i].GetTransactionFeeCost(transactionFeeDescription);
                                <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                                    <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                                    <p>@(Html.Raw(costAndFrequency ?? "&dash;"))</p>
                                </dd>                        
                            }                                    
                        </div>
                    }
                }

                @if(Model.AnyProductHasThirdPartyFees)
                {
                    <div class="govuk-summary-list__row">
                        <div class="govuk-grid-column-two-thirds-from-desktop comparison-tool govuk-!-padding-left-0">
                            <h2 class="govuk-heading-m beis-blue-text govuk-!-margin-top-8">Third-party payment fees</h2>
                        </div>
                    </div>
                    @foreach(var thirdPartyFeeDescription in Model.ComparisonThirdPartyFeeDescriptions)
                    {             
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @thirdPartyFeeDescription
                            </dt>
                            @for (var i = 0; i < Model.products.Count; i++)
                            {
                                var costAndFrequency = Model.products[i].GetThirdPartyFeeCost(thirdPartyFeeDescription);
                                <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                                    <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                                    <p>@(Html.Raw(costAndFrequency ?? "&dash;"))</p>
                                </dd>                        
                            }                                
                        </div>
                    }
                }


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"></dt>
                    @for (var i = 0; i < Model.products.Count; i++)
                    {
                        IDictionary<string, string> routeData = new Dictionary<string, string>();
                        routeData.Add("product_id", Model.products[i].product_id.ToString());


                        <dd class="govuk-summary-list__product@(i+1) mobile-side-by-side">
                            <p class="mobile-product-name">@ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)</p>
                            @{
                                var actionName = Model.JavascriptEnabled ? ActionConstants.ProductDetails : ActionConstants.ProductDetailsNoJs;
                            }
                            <a id="link-comparisontoolviews-compareproducts-see-features" aria-label="See features of @ComparisonToolFieldValidator.ParseStringField(Model.products[i].product_name)" role="button" asp-controller="comparisonTool" asp-action="@actionName" asp-all-route-data="routeData" class="govuk-button primary-big" data-module="govuk-button">
                                See features
                            </a>
                        </dd>
                    }
                </div>
            </dl>
        </div>
    </div>
    </div>
}