@model (IList<Beis.LearningPlatform.Web.StrapiApi.Models.CMSSearchArticle> cmsSearchArticles, string linksAlign)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strTopLineBg = string.Empty;
}

@if (Model.cmsSearchArticles != null)
{
    foreach (var article in Model.cmsSearchArticles.OrderBy(x => x.order))
    {
        article.hide = article.hide.HasValue ? article.hide : false;

        if (article.hide == false)
        {
            <div class="govuk-width-container govuk-!-padding-top-4  govuk-!-padding-bottom-8 article">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        @if (article.Article != null)
                        {
                            <div class="top-line @article.Article.AlteredBackgroundColor">
                            </div>
                        }

                    </div>
                </div>

                <div class="govuk-grid-row beis-columns-same-height">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-row">
                            <div class="left-column ">
                                @if (article.image != null)
                                {
                                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = article.image.url, CssClass = "hero-mobile-image" }' />
                                }
                            </div>
                        </div>
                    </div>

                    @if (article.Article != null)
                    {
                        <div class="govuk-grid-column-one-half beis-stretch-content">
                            <div class="govuk-grid-row">
                                <div class="right-column">
                                    @if (!string.IsNullOrWhiteSpace(article.Article.subheader) || !string.IsNullOrWhiteSpace(article.Article.header))
                                    {
                                        <h2 class="govuk-heading-l govuk-!-padding-top-3">
                                            @(string.IsNullOrWhiteSpace(article.Article.header) ? article.Article.subheader : article.Article.header)
                                        </h2>
                                    }
                                    @Html.Raw(!string.IsNullOrWhiteSpace(article.Article.copy) ? Markdown.ToHtml(article.Article.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">") : string.Empty)

                                    <partial name="CMSPageViews/_PartialTextLinks" model="@(article.Links, Model.linksAlign)" />
                                    <div class="stick-to-bottom">
                                        <vc:article-search-tag search-tags="@article.tags" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
}