@model Beis.LearningPlatform.Web.Models.DiagnosticTool.DiagnosticToolForm
@{
    var elementInfo = Model.CurrentElement;
    var currentStep = elementInfo.CurrentStep;
    var currentElement = elementInfo.CurrentElement;
    var currentFormStepElement = elementInfo.CurrentFormStepElement;

    var z = 0;
    var currentFormStep = elementInfo.CurrentFormStep;
    var hintInBoldCss = currentFormStepElement.showHintInBold ? "govuk-!-font-weight-bold" : string.Empty;
    var hint2InBoldCss = currentFormStepElement.showHint2InBold ? "govuk-!-font-weight-bold" : string.Empty;
}
@{
    switch (currentFormStepElement.controlType)
    {
        case FormDisplayControlType.Label:
            <fieldset>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        <span>@currentFormStepElement.text</span>
                        <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                    </h1>
                </legend>
            </fieldset>

            @if (currentFormStepElement.answerOptions != null)
            {
                z = 0;
                foreach (var child in currentFormStepElement.answerOptions)
                {
                    Model.CurrentElement = new ElementInfo
                            {
                                CurrentStep = currentStep,
                                CurrentElement = currentElement,
                                RadioButtonParent = currentElement,
                                CurrentFormStep = currentFormStep,
                                CurrentFormStepElement = currentFormStepElement,
                                ChildIndex = z
                            };
                    <partial name="DiagnosticToolFormViews/_PartialRenderDTChildElement" model="@Model" />
                    z++;
                }
            }

            break;

        case FormDisplayControlType.CheckboxGroup:

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span>@currentFormStepElement.text</span>
                    <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                </h1>
            </legend>
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint))
            {
                <div class="govuk-body @hintInBoldCss">@currentFormStepElement.hint</div>
            }
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint2))
            {
                <div class="govuk-body @hint2InBoldCss">@currentFormStepElement.hint2</div>
            }

            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.validationError))
            {
                <span asp-validation-for="@Model.steps[currentStep].elements[currentElement].textControlHtmlId" class="govuk-error-message">@currentFormStepElement.validationError</span>
            }



            @if (currentFormStepElement.answerOptions != null)
            {
                z = 0;
                <div class="govuk-checkboxes">
                    @foreach (var child in currentFormStepElement.answerOptions)
                    {
                        Model.CurrentElement = new ElementInfo
                            {
                                CurrentStep = currentStep,
                                CurrentElement = currentElement,
                                RadioButtonParent = currentElement,
                                CurrentFormStep = currentFormStep,
                                CurrentFormStepElement = currentFormStepElement,
                                ChildIndex = z
                            };
                        <partial name="DiagnosticToolFormViews/_PartialRenderDTChildElement" model="@Model" />
                        z++;
                    }
                </div>

            }
            break;

        case FormDisplayControlType.RadioGroup:

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span>@currentFormStepElement.text</span>
                    <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                </h1>
                @if (string.IsNullOrEmpty(currentFormStepElement.subText) == false)
                {
                    <h3 class="govuk-fieldset__heading govuk-!-font-size-19 govuk-!-margin-top-7 govuk-!-margin-bottom-5">
                        <span>@currentFormStepElement.subText</span>
                    </h3>
                }
            </legend>
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint))
            {
                <div style="margin-top: -15px; margin-bottom: 30px;" class="govuk-body @hintInBoldCss">@currentFormStepElement.hint</div>
            }
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.validationError))
            {
                <span asp-validation-for="@Model.steps[currentStep].elements[currentElement].textControlHtmlId" class="govuk-error-message">
                    @currentFormStepElement.validationError
                </span>
            }


            @if (currentFormStepElement.answerOptions != null)
            {
                z = 0;
                <div class="govuk-radios">
                    @foreach (var child in currentFormStepElement.answerOptions)
                    {
                        Model.CurrentElement = new ElementInfo
                            {
                                CurrentStep = currentStep,
                                CurrentElement = currentElement,
                                RadioButtonParent = currentElement,
                                CurrentFormStep = currentFormStep,
                                CurrentFormStepElement = currentFormStepElement,
                                ChildIndex = z
                            };
                        <partial name="DiagnosticToolFormViews/_PartialRenderDTChildElement" model="@Model" />
                        z++;
                    }
                </div>

            }
            break;

        case FormDisplayControlType.List:
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span>@currentFormStepElement.text</span>
                    <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                </h1>
            </legend>
            <span asp-validation-for="@Model.steps[currentStep].elements[currentElement].textControlHtmlId" class="govuk-error-message">
                @currentFormStepElement.validationError
            </span>



            <select asp-for="@Model.steps[currentStep].elements[currentElement].selectedValue" class="govuk-select">
                <option value="">Select @currentFormStepElement.hint</option>
                @if (currentFormStepElement.answerOptions != null)
                {
                    z = 0;
                    foreach (var child in currentFormStepElement.answerOptions)
                    {
                        Model.CurrentElement = new ElementInfo
                            {
                                CurrentStep = currentStep,
                                CurrentElement = currentElement,
                                RadioButtonParent = currentElement,
                                CurrentFormStep = currentFormStep,
                                CurrentFormStepElement = currentFormStepElement,
                                ChildIndex = z
                            };
                        <partial name="DiagnosticToolFormViews/_PartialRenderDTChildElement" model="@Model" />
                        z++;
                    }
                }
            </select>
            @for (z = 0; z < currentFormStepElement.answerOptions.Count; z++)
            {
                <input type="hidden" asp-for="@Model.steps[currentStep].elements[currentElement].answerOptions[z].value" />
                <input type="hidden" asp-for="@Model.steps[currentStep].elements[currentElement].answerOptions[z].text" />
            }

            break;


        case FormDisplayControlType.Textarea:
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    <span>@currentFormStepElement.text</span>
                    <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                </h1>
            </legend>
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint))
            {
                <div class="govuk-body @hintInBoldCss">@currentFormStepElement.hint</div>
            }
            <span asp-validation-for="@Model.steps[currentStep].elements[currentElement].textControlHtmlId" class="govuk-error-message">
                @currentFormStepElement.validationError
            </span>



            <div>
                <textarea asp-for="@Model.steps[currentStep].elements[currentElement].value"
              rows="5" class="govuk-textarea">
                    @Model.steps[currentStep].elements[currentElement].value
                                                                                                    </textarea>
            </div>

            break;


        case FormDisplayControlType.TextGroup:


            <div style="display:flex">
                @if (string.IsNullOrWhiteSpace(Model.formLogo) == false)
                {
                    <div style="padding-right:10px;">
                        <img src="~/assets/images/@Model.formLogo" />
                    </div>
                }
                <div style="align-self:center;" class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        <span>@currentFormStepElement.text</span>
                        <span class="govuk-!-font-weight-regular">@currentFormStepElement.text2</span>
                    </h1>
                </div>

            </div>

            <fieldset>
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    @if (string.IsNullOrEmpty(currentFormStepElement.subText) == false)
                    {
                        <h3 class="govuk-fieldset__heading govuk-!-font-size-19 govuk-!-margin-top-7 govuk-!-margin-bottom-5">
                            <span>@currentFormStepElement.subText</span>
                        </h3>
                    }
                </legend>
            </fieldset>
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint))
            {
                <div style="margin-top: -20px;" class="govuk-body @hintInBoldCss"><p>@currentFormStepElement.hint</p></div>
            }
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.hint2))
            {
                <div class="govuk-body @hint2InBoldCss"><p>@currentFormStepElement.hint2</p></div>
            }
            @if (!string.IsNullOrWhiteSpace(currentFormStepElement.validationError))
            {
                <span asp-validation-for="@Model.steps[currentStep].elements[currentElement].textControlHtmlId" class="govuk-error-message">
                    @currentFormStepElement.validationError
                </span>
            }

            @if (currentFormStepElement.answerOptions != null)
            {
                z = 0;
                <div class="govuk-body">
                    @foreach (var child in currentFormStepElement.answerOptions)
                    {
                        Model.CurrentElement = new ElementInfo
                            {
                                CurrentStep = currentStep,
                                CurrentElement = currentElement,
                                RadioButtonParent = currentElement,
                                CurrentFormStep = currentFormStep,
                                CurrentFormStepElement = currentFormStepElement,
                                ChildIndex = z
                            };
                        <partial name="DiagnosticToolFormViews/_PartialRenderDTChildElement" model="@Model" />
                        z++;
                    }
                </div>

            }

            break;

        default:
            <h4 class="govuk-heading-s govuk-!-font-weight-regular">
                New Content Type @currentFormStepElement.controlType found.
            </h4>
            break;
    }
}