@model (Beis.LearningPlatform.Web.Models.DiagnosticTool.EmailAnswer emailAnswer, string controlNameBasePath)
@{
    var controlNameBasePath = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model.controlNameBasePath))
    {
        controlNameBasePath = Model.controlNameBasePath + ".";
    }
}

<div class="govuk-form-group govuk-grid-column-two-thirds govuk-!-margin-bottom-0 govuk-!-margin-top-3 govuk-footer__heading @(Model.emailAnswer.HasEmailError ? "govuk-form-group--error" : string.Empty)" id="email">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading ">Want to review your results later?</h2>
        </legend>
        <p class="govuk-body-m">Enter your email address and we'll send a copy of this page to your inbox.</p>

    <div class="govuk-form-group">
        <label id="email-hint" class="govuk-label govuk-body-m" for="emailAddress">Email address</label>
        @if (Model.emailAnswer.HasEmailError && !string.IsNullOrWhiteSpace(Model.emailAnswer.EmailErrorText))
        {
            <span class="govuk-error-message">@Model.emailAnswer.EmailErrorText</span>
        }
        <input class="govuk-input govuk-input--width-20" id="emailAddress" name="@(controlNameBasePath)userEmailAddress" value="@Model.emailAnswer.UserEmailAddress" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="on" autocompletetype="email">
    </div>

    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input" id="@(controlNameBasePath)hasConsentedToMarketingText" name="@(controlNameBasePath)hasConsentedToMarketingText" value="@Model.emailAnswer.HasConsentedToMarketingText" @(Model.emailAnswer.IsOptedInForMarketing ? "checked" : "")>
            <label for="@(controlNameBasePath)hasConsentedToMarketingText" class="govuk-label govuk-checkboxes__label">I consent to the Department for Business, Energy & Industrial Strategy (BEIS) contacting me (including through one or more of the third party recipients identified in the privacy policy) by email to keep me informed about news, updates and events relating to Help to Grow: Digital. By ticking the box(es) above I am freely consenting to BEIS (and/or the third party recipients identified in the privacy policy) holding and processing my personal data for these purposes.</label>
        </div>
        <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input" id="@(controlNameBasePath)hasAcceptedPrivacyPolicyText" name="@(controlNameBasePath)hasAcceptedPrivacyPolicyText" value="@Model.emailAnswer.HasAcceptedPrivacyPolicyText" @(Model.emailAnswer.IsPrivacyPolicyAccepted ? "checked" : "")>
            <label for="@(controlNameBasePath)hasAcceptedPrivacyPolicyText" class="govuk-label govuk-checkboxes__label">Tick this box to confirm you have read our <a id="link-diagnostictoolformviews-renderdiagnostictoolemailanswer-privacy-policy" href="/privacy" target="_blank">privacy policy</a>.</label>
        </div>
    </div>
</div>