@model Beis.LearningPlatform.Web.Models.ImageWithTextViewModel
@if (!Model.HasContent)
{
    return;
}
<div id="@Model.Component.id" class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="image-with-text @Model.Component.AlteredPaddingTopSpace @Model.Component.AlteredPaddingBottomSpace">
                <div class="govuk-body">
                    <div class="text-float-@Model.Component.imagePosition">
                        <img class="@Model.Component.imageSize" src="@Model.ImageUrl" alt="@Model.ImageAlt" />
                        @if (!string.IsNullOrEmpty(@Model.Component.ImageCaption))
                        {
                            <div style="color: #767676;font-size: 16px;padding: 10px 2px;">@Model.Component.ImageCaption</div>    
                        }                       
                    </div>
                    @Html.Raw(Model.HtmlCopy)
                </div>
            </div>
        </div>
    </div>
</div>