@model Beis.LearningPlatform.Web.Models.ImageWithTextViewModel
@if (!Model.HasContent)
{
    return;
}
<div id="@Model.Component.id" class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="image-with-text">
                <div class="govuk-body">
                    <img class="@Model.Component.imageSize text-float-@Model.Component.imagePosition" src="@Model.ImageUrl" alt="@Model.ImageAlt" />
                    @Html.Raw(Model.HtmlCopy)
                </div>
            </div>
        </div>
    </div>
</div>