@model Beis.LearningPlatform.Web.Models.ImageWithTextViewModel
@if (!Model.HasContent)
{
    return;
}
<div id="@Model.Component.id" class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class=" govuk-grid-column-two-thirds">
            <div class="beis-article-image @Model.Component.AlteredPaddingBottomSpace">

                    <div class="beis-article-image--pull-@Model.Component.imagePosition">
                        <img class="beis-article-image__image @Model.Component.imageSize" src="@Model.ImageUrl" alt="@Model.ImageAlt" />
                        @if (!string.IsNullOrEmpty(@Model.ImageCaption))
                        {
                            <span class="beis-article-image__caption">@Model.ImageCaption</span>    
                        }                       
                    </div>
                    @Html.Raw(Model.HtmlCopy)
                </div>
            </div>
        </div>
    </div>
</div>