@model CMSSearchArticle

<div class="govuk-grid-row beis-columns-same-height">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-l govuk-!-padding-top-3">
            <a id="link-landingpagehero-@Model.FirstLink.aria" class="govuk-link" href="@Model.FirstLink.url" aria-label="hero.LinkAria">@Model.Article?.subheader</a>
        </h3>
    </div>
</div>

<div class="govuk-grid-row beis-columns-same-height">
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-grid-row">
            <div class="left-column">
                @if (Model.image != null)
                {
                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.image.url, Title= Model.image.alternativeText, CssClass = "hero-mobile-image" }' />
                }
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters beis-stretch-content">
        <div class="govuk-grid-row">
            <div class="right-column">
                @if (!string.IsNullOrEmpty(Model.ReadingTime))
                {
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        <strong>Reading time:</strong> @Model.ReadingTime
                    </p>
                }
                <p class="govuk-body">
                    @Model.Article?.copy
                </p>
                <div>
                    <img src="/assets/images/link-icon.png" class="link-icon-align" />
                    <a id="link-landingpagehero-@Model.FirstLink.aria" class="govuk-link" href="@Model.FirstLink.url" aria-label="hero.LinkAria">@Model.FirstLink.label</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row beis-columns-same-height">
    <div class="govuk-grid-column-full">
        <div class="top-line beis-grey thin-line govuk-!-margin-top-4 govuk-!-margin-bottom-4"></div>
    </div>
</div>