@model CMSSearchArticle

<div class="beis-article-list__article">
    <h3 class="govuk-heading-m beis-article-list__article-heading">
        <a id="@Model.FirstLink?.GetGaArticleLinkId("article-link-header")" class="govuk-link beis-article-list__article-link" href="@Model.FirstLink.url">@Model.Article?.subheader</a>
    </h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            @if (Model.image != null)
            {
                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.image.url, Title= Model.image.alternativeText, CssClass = "beis-article-list__article-image" }' />
            }
        </div>
        <div class="govuk-grid-column-two-thirds">
            @if (!string.IsNullOrEmpty(Model.ReadingTime))
            {
                <p class="govuk-body">
                    <strong>Reading time:</strong> @Model.ReadingTime
                </p>
            }
            <p class="govuk-body">
                @Model.Article?.copy
            </p>
            <a id="@Model.FirstLink?.GetGaArticleLinkId("article-link")" class="beis-icon-link" href="@Model.FirstLink.url">
                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"/>
                </svg>
                @Model.FirstLink.label
            </a>
        </div>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible">