@model CmsImageItemViewModel
@{
    if (!Model.HasContent)
    {
        return;
    }

    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<div class="govuk-width-container govuk-!-padding-top-4 govuk-!-padding-bottom-2">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="image-item">
                <div class="media-image"><vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.Image.url, Title= Model.Image.alternativeText }' /></div>
                <div class="media-title"><h2 class="govuk-heading-l govuk-!-padding-top-3 govuk-!-margin-bottom-1">@Model.Header</h2></div>
                <div class="media-content">
                    @Html.Raw(Markdown.ToHtml(Model.Summary, _pipeline).Replace("<p>", "<p class=\"govuk-body\" style=\"text-align:left;\">"))
                    <div class="  ">
                        <div>
                            <span id="spn_imgitemicon_std_@Model.UniqueActionNameWithId" class="beis-link-icon">
                                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.Link.icon.url, CssClass="svgimg", Title="" }' />
                                <a class="govuk-link" href="@Model.Link.url">@Model.Link.label</a>
                            </span>
                            <span id="spn_imgitemicon_completed_@Model.UniqueActionNameWithId" class="beis-link-icon" style="display:none">
                                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.CompletedLink.icon.url, CssClass="svgimg", Title="" }' />
                                <a class="govuk-link" href="@Model.CompletedLink.url">@Model.CompletedLink.label</a>
                            </span>                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        setImgItemLinkIcon('_CompletedLink_@Model.UniqueActionName', 'spn_imgitemicon_std_@Model.UniqueActionNameWithId', 'spn_imgitemicon_completed_@Model.UniqueActionNameWithId');            
    });    
</script>