@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, bool showBackButton, int componentIndex)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strcopy = string.IsNullOrWhiteSpace(Model.component.copy) ? "" : Markdown.ToHtml(Model.component.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
    var topSpaceClass = Model.component.topSpace != "nospace" ? "govuk-!-padding-top-6" : "";
    var bottomSpaceClass = Model.component.bottomSpace != "nospace" ? "govuk-!-padding-bottom-6" : "";
}

@{             
    Model.component.hide = Model.component.hide.HasValue ? Model.component.hide : false;

    if (Model.component.hide == false)
    {
    <div class="govuk-width-container" id="@("anchor" + Model.componentIndex)">
        <div class="govuk-grid-row">
            <div class="beis-white govuk-grid-column-two-thirds">
                <div class="@topSpaceClass  @bottomSpaceClass">
                    @if (!string.IsNullOrWhiteSpace(Model.component.header))
                    {
                        @if (Model.showBackButton)
                        {
                            <a id="link-cmspageviews-global-back-link" class="govuk-back-link" style="cursor:pointer;" onclick="history.back()">Back</a>
                        }

                        <h1 class="govuk-heading-xl">@Html.Raw(Markdown.ToHtml(Model.component.header, _pipeline).Replace("<p>", "").Replace("</p>", ""))</h1>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.component.subheader))
                    {
                        <h2 class="govuk-heading-l">@Html.Raw(Markdown.ToHtml(Model.component.subheader, _pipeline).Replace("<p>", "").Replace("</p>", ""))</h2>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.component.copy))
                    {
                        <div class="govuk-body">
                            @Html.Raw(strcopy)
                        </div>
                    }

                    <partial name="CMSPageViews/_PartialTextButtons" model="@Model.component" />
                    <partial name="CMSPageViews/_PartialTextLinks" model="@Model.component.links" />


                </div>
            </div>
        </div>
    </div>
    }
}