@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageHeroBanner
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strcopy = "";
    var strSubheader = "";
}

<div class="beis-text">
    <div class="">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                    @if (Model.logo != null)
                    {
                        <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-4">
                            <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.logo.url, CssClass = "beis-htg-logo", Title = Model.logo.alternativeText }' />
                        </div>
                    }

                    @foreach (var component in Model.HeroContent.textblocks)
                    {
                        if (!string.IsNullOrWhiteSpace(component.header))
                        {
                            @Html.Raw(Markdown.ToHtml(component.header, _pipeline).Replace("<p>", "").Replace("</p>", ""));
                        }
                        strSubheader = Markdown.ToHtml(component.subheader.ToString(), _pipeline).Replace("<p>", "").Replace("</p>", "");
                        strcopy = Markdown.ToHtml(component.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body beis-white-text\">");
                        if (!string.IsNullOrWhiteSpace(strSubheader))
                        {
                            @Html.Raw("<h2 class=\"govuk-heading-l beis-white-text\">" + strSubheader + "</h2>"); 
                        }
                        @Html.Raw(strcopy);
                    }
                    @foreach (var link in Model.HeroContent.links)
                    {
                        <p>
                            @if (link.icon != null)
                            {
                                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = link.icon.url, CssClass = "svgimg beis-link-icon" }' />
                            }

                            @if (link.anchorlink != null)
                            {
                                <a class="govuk-link @link.custom_class"
                                   href="@link.anchorlink" aria-label="@(string.IsNullOrWhiteSpace(link.aria)? "Read the article on " + link.id : link.aria)">
                                    @Html.Raw(link.label)
                                </a>
                            }

                            @if (link.url != null)
                            {
                                <a class="govuk-link @link.custom_class"
                                   href="@link.url" aria-label="@(string.IsNullOrWhiteSpace(link.aria)? "Read the article on " + link.id : link.aria)">
                                    @Html.Raw(link.label)
                                </a>
                            }
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
