@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var heading = "";
    heading = string.IsNullOrWhiteSpace(Model.header) ? (Model.subheader != null ? Model.subheader.ToString() : "") : Model.header;
    var strcopy = string.IsNullOrWhiteSpace(Model.copy) ? "" : Markdown.ToHtml(Model.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
    var topSpaceClass = Model.topSpace != "nospace" ? "govuk-!-padding-top-6" : "";
    var bottomSpaceClass = Model.bottomSpace != "nospace" ? "govuk-!-padding-bottom-6" : "";
    bool.TryParse(ViewData["showBackButton"]?.ToString(), out bool showBackButton);
}

@{             
    Model.hide = Model.hide.HasValue ? Model.hide : false;

    if (Model.hide == false)
    {
    <div class="govuk-width-container" id="@("anchor" + ViewData["intCurrComponentIndex"])">
        <div class="govuk-grid-row">
            <div class="beis-white govuk-grid-column-two-thirds">
                <div class="@topSpaceClass  @bottomSpaceClass">
                    @if (!string.IsNullOrWhiteSpace(Model.header))
                    {
                        @if (showBackButton == true)
                        {
                            <a class="govuk-back-link" style="cursor:pointer;" onclick="history.back()">Back</a>
                        }

                        <h1 class="govuk-heading-xl">@Html.Raw(Markdown.ToHtml(Model.header, _pipeline).Replace("<p>", "").Replace("</p>", ""))</h1>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.subheader))
                    {
                        <h2 class="govuk-heading-l">@Html.Raw(Markdown.ToHtml(Model.subheader, _pipeline).Replace("<p>", "").Replace("</p>", ""))</h2>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.copy))
                    {
                        <div class="govuk-body">
                            @Html.Raw(strcopy)
                        </div>
                    }

                    <partial name="CMSPageViews/_PartialTextButtons" model="@Model" />
                    <partial name="CMSPageViews/_PartialTextLinks" model="@Model.links" />


                </div>
            </div>
        </div>
    </div>
    }
}