@using Beis.LearningPlatform.Web.Utils
@model List<Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageLink>
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strclass = string.Empty;
    var strComponentBg = string.Empty;
    var linkAction = string.Empty;
    var linksAlign = ViewData["linksAlign"] != null ? (string)ViewData["linksAlign"] : string.Empty;
}

@if (Model != null)
{
    @if (Model.Count > 0)
    {
        @foreach (var link in Model)
        {
            link.hide = link.hide.HasValue ? link.hide : false;

            if (link.hide == false)
            {
                if (!string.IsNullOrWhiteSpace(link.url))
                {
                    if (link.url.StartsWith("http") || link.url.StartsWith("/"))
                    {
                        linkAction = string.IsNullOrWhiteSpace(link.url) ? "" : (link.url.StartsWith("http")) ? link.url : (link.url.StartsWith("/") ? link.url.ToString().Substring(1) : link.url.ToString().Substring(0, (link.url.ToString().IndexOf("/") - 1)));
                        strclass = CamelCaseConverter.Delimiter(link.custom_class, "-");

                    <div class="@link.custom_class @strComponentBg @linksAlign">
                        <div>
                            <span class="beis-link-icon">
                                @if (link.icon != null)
                                {
                                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = link.icon.url, CssClass = "svgimg beis-link-icon " + linksAlign, Width =  link.icon.width, Height = link.icon.height }' />
                                }
                            </span>
                            @if (link.url.StartsWith("http"))
                            {
                                <a class="govuk-link @strclass" href="@linkAction" target="" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)"> @link.label </a>
                            }
                            else
                            {
                                <a class="govuk-link @strclass" href="/@linkAction" 
                                   aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)"> @link.label </a>
                            }
                        </div>

                    </div>
                        }
                    }
            }
        }
    }
}