@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    string SetButtonType(string btnType, string customClass)
    {
        var className = $"beis-white-{btnType}";
        return customClass != null ? $"{className} {customClass}" : className;
    }
}

<div class="feedback-prompt" id="feedback-prompt">
    <div class="feedback-bg-color">
        <div class="govuk-width-container govuk-!-padding-1">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">
                    <div class="wrapper-left">
                        @if (!string.IsNullOrWhiteSpace(Model.message))
                        {
                            <h2 class="message">@Model.message</h2>
                        }

                        <p class="govuk-button-group">
                                @if (!string.IsNullOrWhiteSpace(Model.titleYes.url))
                                {
                                    IDictionary<string, string> routeData = new Dictionary<string, string>();
                                    routeData.Add("feedback", "yes");

                                    <a id="link-cmspageviews-feedbackpromptnojs-yes" role="button"
                                       asp-route="Feedback"
                                       asp-all-route-data="@routeData"
                                       class="govuk-button @SetButtonType(Model.titleYes.type, Model.titleYes.custom_class)"
                                       data-module="govuk-button">
                                        @Model.titleYes.label
                                    </a>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.titleNo.url))
                                {
                                    IDictionary<string, string> routeData2 = new Dictionary<string, string>();
                                    routeData2.Add("feedback", "no");

                                    <a id="link-cmspageviews-feedbackpromptnojs-no" role="button"
                                       asp-route="Feedback"
                                       asp-all-route-data="@routeData2"
                                       class="govuk-button @SetButtonType(Model.titleNo.type, Model.titleNo.custom_class)"
                                       data-module="govuk-button">
                                        @Model.titleNo.label
                                    </a>
                                }
                        </p>

                    </div>
                </div>
                
                <div class="govuk-grid-column-one-half">

                        <div class="wrapper-right">
                            @if (!string.IsNullOrWhiteSpace(Model.titleReport.url))
                            {
                                IDictionary<string, string> routeData3 = new Dictionary<string, string>();
                                routeData3.Add("feedback", "report");

                                <a id="link-cmspageviews-feedbackpromptnojs-report" role="button"
                                   asp-route="Feedback"
                                   asp-all-route-data="@routeData3"
                                   class="govuk-button @SetButtonType(Model.titleReport.type, Model.titleReport.custom_class)"
                                   data-module="govuk-button">
                                    @Model.titleReport.label
                                </a>
                            }

                        </div>

                </div>

            </div>
        </div>
    </div>
</div>