@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var heading = string.Empty;
    heading = string.IsNullOrWhiteSpace(Model.header) ? (Model.subheader != null ? Model.subheader.ToString() : "") : Model.header;
    var strcopy = string.IsNullOrWhiteSpace(Model.copy) ? "" : Markdown.ToHtml(Model.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
    var topSpaceClass = Model.topSpace != "nospace" ? "govuk-!-padding-top-6" : "";
    var bottomSpaceClass = Model.bottomSpace != "nospace" ? "govuk-!-padding-bottom-6" : "";
}

@{             
    Model.hide = Model.hide.HasValue ? Model.hide : false;

    if (Model.hide == false)
    {
    <div class="beis-table" id="@("anchor" + ViewData["intCurrComponentIndex"])">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                @if (!string.IsNullOrWhiteSpace(Model.one))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.one</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.two))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.two</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.three))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.three</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.four))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.four</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @if (Model.rows?.Count > 0)
                            {
                                for (var i = 0; i < Model.rows.Count; i++)
                                {
                                    <tr class="govuk-table__row">
                                        @if (!string.IsNullOrWhiteSpace(Model.one))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.rows[i].one, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.two))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.rows[i].two, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>                                        
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.three))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.rows[i].three, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>                                        
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.four))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.rows[i].four, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>
                                        }
                                    </tr>
                                }

                            }
                        </tbody>
                        </table>
                    <partial name="CMSPageViews/_PartialTextButtons" model="@Model" />
                    <partial name="CMSPageViews/_PartialTextLinks" model="@Model.links" />

                </div>
            </div>
        </div>
    </div>
    }
}