@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();

    var showButtons = ViewData["showButtons"] != null ? (bool)ViewData["showButtons"] : true; 
    var isNoFeedback = ViewData["isNoFeedback"] != null ? (bool)ViewData["isNoFeedback"] : false; ;
    var isNoFeedbackStyle = !isNoFeedback ? "style=display:none" : "";
    var isReportProblem = ViewData["isReportProblem"] != null ? (bool)ViewData["isReportProblem"] : false;
    var isReportProblemStyle = !isReportProblem ? "style=display:none" : "";
    var showButtonClass = showButtons ? "wrapper-left" : "";

    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    string setButtonType(string btnType, string background, string custom_class)
    {
        var className = "";

        switch (background)
        {
            case "beisWhite":
                {
                    if (btnType == "positive")
                    {
                        className = "beis-black-positive";
                    }
                    if (btnType == "negative")
                    {
                        className = "beis-black-negative";
                    }
                    break;
                }
            case "beisBlack":
                {
                    if (btnType == "positive")
                    {
                        className = "beis-white-positive";
                    }
                    if (btnType == "negative")
                    {
                        className = "beis-white-negative";
                    }
                    break;
                }
            case "beisNavyBlue":
                {
                    if (btnType == "positive")
                    {
                        className = "beis-white-positive";
                    }
                    if (btnType == "negative")
                    {
                        className = "beis-white-negative";
                    }
                    break;
                }
            default:
                {
                    className = "";
                    break;
                }
        }

        if (custom_class != null)
        {
            return className + " " + custom_class;
        }
        else
        {
            return className;
        }
    }
}


<div id="feedback-prompt" class="feedback-prompt">
    <div id="feedback-prompt-0" class="feedback-bg-color">
        <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
            @if (!isNoFeedback && !isReportProblem)
            {
                <div id="FeedbackYesNoContainer" class="govuk-grid-row">

                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="@showButtonClass">
                            @if (!string.IsNullOrWhiteSpace(Model.message))
                            {
                                <h2 id="FeedbackYesNoMessage" class="message">@Model.message</h2>
                            }

                            @if (showButtons)
                            {
                                <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                    @if (!string.IsNullOrWhiteSpace(Model.titleYes.url))
                                    {
                                        <script type="text/javascript">
                                            var routeData = {
                                                actionName: "@actionName",
                                                componentid: "@Model.id.ToString()",
                                                feedback: "yes",
                                                isNoFeedback: null,
                                                isReportProblem: null
                                            };
                                        </script>

                                        <a id="link-cmspageviews-feedbackpromptjs-yes" role="button"
                                           onclick="feedback(routeData)"
                                           class="govuk-button @setButtonType(Model.titleYes.type, "beisBlack", Model.titleYes.custom_class)"
                                           data-module="govuk-button">
                                            @Model.titleYes.label
                                        </a>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(Model.titleNo.url))
                                    {
                                        <script type="text/javascript">
                                            var routeData2 = {
                                                actionName: "@actionName",
                                                componentid: "@Model.id.ToString()",
                                                feedback: "no",
                                                isNoFeedback: null,
                                                isReportProblem: null
                                            };
                                        </script>


                                        <a id="link-cmspageviews-feedbackpromptjs-no" role="button"
                                           onclick="feedback(routeData2)"
                                           class="govuk-button @setButtonType(Model.titleNo.type, "beisBlack", Model.titleNo.custom_class)"
                                           data-module="govuk-button">
                                            @Model.titleNo.label
                                        </a>
                                    }
                                </p>
                            }


                        </div>
                    </div>

                    @if (showButtons)
                    {
                        <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">

                            <div id="feedback-prompt-6" class="wrapper-right">
                                @if (!string.IsNullOrWhiteSpace(Model.titleReport.url))
                                {
                                    <script type="text/javascript">
                                            var routeData3 = {
                                                actionName: "@actionName",
                                                componentid: "@Model.id.ToString()",
                                                feedback: "report",
                                                isNoFeedback: null,
                                                isReportProblem: null
                                            };
                                    </script>

                                    <a id="link-cmspageviews-feedbackpromptjs-e2bc" role="button"
                                       onclick="feedback(routeData3)"
                                       class="govuk-button @setButtonType(Model.titleReport.type, "beisBlack", Model.titleReport.custom_class)"
                                       data-module="govuk-button">
                                        @Model.titleReport.label
                                    </a>
                                }

                            </div>

                        </div>
                    }

                </div>
            }
        </div>

        @*@if (isNoFeedback)
            {*@
        <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" @isNoFeedbackStyle>
            <div class="govuk-width-container">
            @if (Model.NoCancelButton != null)
            {
                <script type="text/javascript">
                        var routeData4 = {
                            actionName: "@actionName",
                            componentid: "@Model.id.ToString()",
                            feedback: "close",
                            isNoFeedback: null,
                            isReportProblem: null
                        };
                </script>


                <a id="link-cmspageviews-feedbackpromptjs-f1bb" class="govuk-button secondary"
                   onclick="feedback(routeData4)"
                   data-track-category="yesNoFeedbackForm"
                   data-track-action="FormClose"
                   aria-controls="page-is-not-useful"
                   aria-expanded="@isNoFeedback">
                    @Model.NoCancelButton.label
                </a>
            }


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                    @if (!string.IsNullOrWhiteSpace(@Model.NoHeader))
                    {
                        <h3>@Model.NoHeader</h3>
                    }
                    <p id="survey_explanation" class="govuk-body">
                        @if (!string.IsNullOrWhiteSpace(Model.NoCopy))
                        {
                            var strcopy = Markdown.ToHtml(Model.NoCopy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
                            @Html.Raw(strcopy);
                        }
                    </p>
                    <div class="govuk-form-group">
                        <label for="email" class="govuk-label">@Model.NoLabel1</label>
                        <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                    </div>

                    @if (showButtons && Model.NoSubmitButton != null)
                    {
                        <p class="govuk-button-group">
                            <a id="link-cmspageviews-feedbackpromptjs-b9f2" role="button"
                               class="govuk-button primary">
                                @Model.NoSubmitButton.label
                            </a>

                            @if (Model.NoEmailAddressLink != null)
                            {
                                <a id="link-cmspageviews-feedbackpromptjs-a38f" href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/service-manual/service-assessments/get-feedback-page&amp;amp;gcl=2049733727.1626700136"
                                   class="govuk-link"
                                   id="take-survey"
                                   target="_blank"
                                   rel="noopener noreferrer">
                                    @Model.NoEmailAddressLink.label
                                </a>
                            }

                        </p>
                    }

                </div>
            </div>
            </div>
        </div>
        @*}*@

        @*@if (isReportProblem)
            {*@
    <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" @isReportProblemStyle>
        <div class="govuk-width-container">
             @if (Model.ReportCancelButton != null) { <script type="text/javascript">
                        var routeData5 = {
                            actionName: "@actionName",
                            componentid: "@Model.id.ToString()",
                            feedback: "close",
                            isNoFeedback: null,
                            isReportProblem: null
                        };
                </script>

                <a id="link-cmspageviews-feedbackpromptjs-02f0" class="govuk-button secondary"
                   onclick="feedback(routeData5)"
                   data-track-category="yesNoFeedbackForm"
                   data-track-action="fFormClose"
                   aria-controls="page-is-not-useful"
                   aria-expanded="@isReportProblem">
                    @Model.ReportCancelButton.label
                </a>
            }


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (!string.IsNullOrWhiteSpace(@Model.ReportHeader))
                        {
                                <h3>@Model.ReportHeader</h3>
                        }

                    <p id="feedback_explanation" class="govuk-body">
                        @if (!string.IsNullOrWhiteSpace(Model.ReportCopy))
                        {
                            var strreportcopy = Markdown.ToHtml(Model.ReportCopy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
                            @Html.Raw(strreportcopy);
                        }
                    </p>

                    <div class="govuk-form-group">
                        <label for="doing" class="govuk-label">@Model.ReportLabel1</label>
                        <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                    </div>

                    <div class="govuk-form-group">
                        <label for="wrong" class="govuk-label">@Model.ReportLabel2</label>
                        <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                    </div>

                    @if (showButtons && Model.ReportSubmitButton != null)
                    {
                        <script type="text/javascript">
                                var routeData6 = {
                                    actionName: "@actionName",
                                    componentid: "@Model.id.ToString()",
                                    feedback: "submit",
                                    isNoFeedback: null,
                                    isReportProblem: null
                                };
                        </script>

                        <p class="govuk-button-group">
                            <a id="link-cmspageviews-feedbackpromptjs-a89e" role="button"
                               onclick="feedback(routeData6)"
                               class="govuk-button primary">
                                @Model.ReportSubmitButton.label
                            </a>
                        </p>
                    }

                </div>
            </div>
        </div>
        </div>
        @*}*@
    </div>
</div>

<script type="text/javascript">
    var feedback = function (dictRouteData) {
        
        var actionName = "@actionName";
        var controllerName = "@controllerName";

        switch (dictRouteData.feedback) {
            case "no":
            case "yes":
                {
                    processFeedback(dictRouteData.feedback);
                    break;
                }
            case "report":
                {
                    $("#FeedbackYesNoContainer").hide();
                    $("#FeedbackReportProblemPanel").show();
                    break;
                }
            case "close":
                {
                    $("#FeedbackReportProblemPanel").hide();
                    $("#FeedbackHelpUsImproveDiv").hide();
                    $("#FeedbackYesNoMessage").html("@Model.message");
                    $("#FeedbackReportProblemDiv").show();
                    $("#FeedbackYesNoDiv").addClass("@showButtonClass");
                    $("#FeedbackYesNoContainer").show();
                    $("#FeedbackYesNoPanel").show();
                    break;
                }
            case "submit":
                {
                    var strDoing = $("#doing").val().trim();
                    var strWrong = $("#wrong").val().trim();
                    if (strDoing == "") {
                        alert("Please tell us what you were doing");
                        $("#doing").focus();
                        break;
                    }

                    if (strWrong == "") {
                        alert("Please tell us what went wrong");
                        $("#wrong").focus();
                        break;
                    }

                    processReport(strDoing, strWrong);
                    break;
                }
            default:
                {
                    break;
                }
        }
    }

    var processFeedback = function (feedback) {


    $.ajax({
            type: "GET",
            url: "/feedback/useful",
            data: {
                "url": location.href,
                "IsPageUseful": feedback,
            },
            success: function (response) {
                $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id="link-cmspageviews-feedbackpromptjs-222f" title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
                $("#FeedbackYesNoDiv").removeClass("@showButtonClass");
                $("#FeedbackYesNoPanel").hide();
                $("#FeedbackReportProblemDiv").hide();
            },
            error: function () {
                $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
            }
        });
    }

    var processReport = function (doing, wrong) {
        $.ajax({
            type: "GET",
            url: "/feedback/report-problem",
            data: {
                "url": location.href,
                "whatIWasDoing": doing,
                "whatWentWrong": wrong
            },
            success: function (response) {
                $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id="link-cmspageviews-feedbackpromptjs-bae3" title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
                $("#FeedbackYesNoDiv").removeClass("@showButtonClass");
                $("#FeedbackYesNoContainer").show();
                $("#FeedbackReportProblemPanel").hide();
                $("#FeedbackHelpUsImproveDiv").hide();
                $("#FeedbackReportProblemDiv").hide();
                $("#FeedbackYesNoPanel").hide();

            },
            error: function () {
                $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
            }
        });
    }
</script>