@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, int componentIndex)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var topSpaceClass = Model.component.topSpace != "nospace" ? "govuk-!-padding-top-6" : "";
    var bottomSpaceClass = Model.component.bottomSpace != "nospace" ? "govuk-!-padding-bottom-6" : "";
}

@{
    Model.component.hide = Model.component.hide.HasValue ? Model.component.hide : false;

    if (Model.component.hide == false)
    {
        <div id="@("anchor" + Model.componentIndex)" class="fact @topSpaceClass  @bottomSpaceClass @CamelCaseConverter.Delimiter(@Model.component.background, "-")">
            <div class="govuk-width-container">
                <div class="govuk-grid-column-full">
                    <div class="beis-columns-same-height">

                        <div class="left-column">
                            @if (Model.component.image != null)
                            {
                                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.component.image.url, CssClass = "hero-mobile-image", CssStyle="display: flex;", Title = Model.component.image.alternativeText }' />
                            }
                        </div>

                        @if (Model.component.textblocks != null && Model.component.textblocks.Count > 0)
                        {
                            <div class="right-column @CamelCaseConverter.Delimiter(Model.component.textblocks[0].backgroundColor, "-")">
                                @if (!string.IsNullOrWhiteSpace(Model.component.textblocks[0].subheader))
                                {
                                    <h2 class="govuk-heading-xl govuk-!-padding-top-8 @Model.component.textblocks[0].subHeaderAlign @CamelCaseConverter.Delimiter(Model.component.textblocks[0].subheaderColor, "-")-text">@Model.component.textblocks[0].subheader</h2>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.component.textblocks[0].copy))
                                {
                                    @Html.Raw(Markdown.ToHtml(Model.component.textblocks[0].copy, _pipeline).Replace("<p>", "<p class=\"govuk-body govuk-!-margin-top-2 " + Model.component.textblocks[0].copyAlign +"\">"))
                                }
                                
                                <partial name="CMSPageViews/_PartialTextLinks" model="@(Model.component.links,  Model.component.linksAlign)" />

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
}