@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, int componentIndex) 

<div class="beis-text" id="@("anchor" + Model.componentIndex)">
    @if (Model.component.media != null && Model.component.media.Count > 0)
    {
        <div class="govuk-width-container @Model.component.AlteredMarginTopSpace  @Model.component.AlteredMarginBottomSpace">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <section class="attachment embedded" id="attachment_@Model.component.media[0].name">
                        <div class="attachment-thumb">
                            <a id="link-cmspageviews-document-attachment-thumb" aria-hidden="true" class="thumbnail" tabindex="-1" href="@Model.component.AlteredUrl">
                                <img alt="" src="@Model.component.ImageUrl">
                            </a>
                        </div>
                        <div class="attachment-details">
                            <h3 class="title govuk-!-font-size-27 govuk-!-font-weight-regular">
                                <a id="link-cmspageviews-document-attachment-details" class="govuk-link" href="@Model.component.AlteredUrl">
                                    @Model.component.title
                                </a>
                            </h3>
                            <p class="govuk-body">
                                <span class="type">
                                    <abbr title="@Model.component.media[0].mime">@Model.component.abbr</abbr>
                                </span>,
                                <span class="file-size">@Model.component.media[0].size KB</span>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
</div>