@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, IList<Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent> components)
@{
    var components = Model.components ?? Enumerable.Empty<CMSPageComponent>().ToList();
}

@if (Model.component.textblocks != null)
{
    if (Model.component.textblocks.Count > 0)
    {
        foreach (var textblock in Model.component.textblocks)
        {
            textblock.hide = textblock.hide.HasValue ? textblock.hide : false;

            if (textblock.hide == false)
            {
                <div class="govuk-width-container" id="@("anchor" + Model.component.Index)">
                    <div class="govuk-grid-row">
                        @foreach (var component in components.Where(item => item.search_articles != null))
                        {
                            var externalArticles = component.search_articles.Where(item => item.articleType == "external").ToList();
                            var internalArticles = component.search_articles.Where(item => item.articleType == "internal").ToList();
                            if (Model.component.type.Equals("articleinternal", StringComparison.OrdinalIgnoreCase) && internalArticles.Count > 0)
                            {
                                <div class="govuk-grid-column-two-thirds">
                                    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                                        @if (!string.IsNullOrWhiteSpace(textblock.subheader))
                                        {
                                            <h2 class="govuk-heading-l govuk-!-padding-top-3">@textblock.subheader</h2>
                                        }
                                    </div>
                                </div>
                                <partial name="DiagnosticToolFormViews/_PartialSearchArticles" model="@((IList<CMSSearchArticle>)internalArticles, Model.component.linksAlign)" />
                            }
                            if (Model.component.type.Equals("articleexternal", StringComparison.OrdinalIgnoreCase) && externalArticles.Count > 0)
                            {
                                <div class="govuk-grid-column-two-thirds">
                                    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                                        @if (!string.IsNullOrWhiteSpace(textblock.subheader))
                                        {
                                            <h2 class="govuk-heading-l govuk-!-padding-top-3">@textblock.subheader</h2>
                                        }
                                    </div>
                                </div>
                                <partial name="DiagnosticToolFormViews/_PartialSearchArticles" model="@(externalArticles, Model.component.linksAlign)" />
                            }
                        }
                    </div>
                </div>
            }
        }

    }
}