@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageViewModel
@{
    var landingPageImageUrl = "../../../assets/images/LandingPageImage.jpg"; 
}
@foreach (var heroBanner in Model.hero_banners)
{
    var styleStringLeft = heroBanner.HeroImageLocation.Equals("left", StringComparison.OrdinalIgnoreCase) ? "url(" + @landingPageImageUrl + ") 0% 0% / cover no-repeat" : string.Empty;
    if (styleStringLeft != string.Empty)
    {
        styleStringLeft = "style=\"background:" + styleStringLeft + "\"";
    }
    landingPageImageUrl = Model.CmsBaseUrl + (heroBanner.HeroImage != null ? heroBanner.HeroImage.url : string.Empty);


    <div class="beis-hero-banner">
        <div class="govuk-grid-row beis-hero-banner__row">
            <div class="govuk-grid-column-one-half @(string.IsNullOrWhiteSpace(heroBanner.leftBackgroundColor)? "": @CamelCaseConverter.Delimiter(heroBanner.leftBackgroundColor, "-"))" @styleStringLeft>

                @if (heroBanner.HeroImageLocation.Equals("right", StringComparison.OrdinalIgnoreCase))
                            {
                                <partial name="CMSPageViews/_PartialHeroBannerContent" model="@heroBanner" /> }
                            else
                            {
                                <partial name="CMSPageViews/_PartialHeroBannerImage" model="@heroBanner" />}
                
            </div>
            <div class="govuk-grid-column-one-half @(string.IsNullOrWhiteSpace(heroBanner.rightBackgroundColor)? "": @CamelCaseConverter.Delimiter(heroBanner.rightBackgroundColor, "-"))"
                 style="background:@(heroBanner.HeroImageLocation.Equals("right", StringComparison.OrdinalIgnoreCase)? "url(" + landingPageImageUrl + ") 0% 0% / cover no-repeat" : string.Empty);">
                
            </div>
        </div>
    </div>
}