@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

@if (Model.textblocks.Count >= 1)
{
    Model.hide = Model.hide.HasValue ? Model.hide : false;

    if (Model.hide == false)
    {
    <div class="columns" id="@("anchor" +  Model.Index)">
        <div class="govuk-width-container">
            <div class="govuk-grid-row beis-columns-same-height">
                <div class="govuk-grid-column-one-half @CamelCaseConverter.Delimiter(Model.textblocks[0].subheaderColor, "-")-text">
                    <div class="govuk-grid-row">
                        <div class="left-column">
                            @if (!string.IsNullOrWhiteSpace(Model.textblocks[0].header))
                            {
                                <div style="display:flex">
                                    <div>
                                        <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.textblocks[0].HeaderImage.url, CssClass = "" }' />
                                    </div>
                                    <div style="align-self:center;padding-left:10px;">
                                        <h1 style="margin-bottom:20px;" class="govuk-heading-xl govuk-!-padding-top-3 @*@Model.textblocks[0].subheaderColor*@"> @Model.textblocks[0].header</h1>
                                    </div>
                                </div>

                            }
                            @if (!string.IsNullOrWhiteSpace(Model.textblocks[0].subheader))
                            {
                                <h2 class="govuk-heading-l govuk-!-padding-top-8 @*@Model.textblocks[0].subheaderColor*@"> @Model.textblocks[0].subheader</h2>
                            }
                            @Html.Raw(Markdown.ToHtml(Model.textblocks[0].copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\" style=\"text-align:left;\">").Replace("</p>", "</p>"))

                            @foreach (var link in Model.links)
                            {
                                @if (link.icon != null)
                                {
                                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = link.icon.url, CssClass = "beis-link-icon", Width = link.icon.width, Height = link.icon.height }' />
                                }

                                @if (!string.IsNullOrWhiteSpace(link.anchorlink))
                                {
                                    <a id="link-cmspageviews-2columns-@(link.GetGaLinkId())" class="govuk-link @link.custom_class"
                                       href="@link.anchorlink" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)">
                                        @link.label
                                    </a>
                                }

                                @if (!string.IsNullOrWhiteSpace(link.url))
                                {
                                    <a id="link-cmspageviews-2columns-@(link.GetGaLinkId())" class="govuk-link @link.custom_class"
                                       href="@link.url" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)">
                                        @Html.Raw(link.label)
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-row">
                        <div class="right-column">
                            <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.image.url, CssClass = "hero-mobile-image" }' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}
