@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();

    string SetButtonType(string btnType, string customClass)
    {
        var className = $"beis-white-{btnType}";
        return customClass != null ? $"{className} {customClass}" : className;
    }
}

<div id="feedback-prompt" class="feedback-prompt">
    <div id="feedback-prompt-0" class="feedback-bg-color">
        <div id="feedback-prompt-1" class="govuk-width-container govuk-!-padding-1">
            <div id="FeedbackYesNoContainer" class="govuk-grid-row">
                    <div id="feedback-prompt-3" class="govuk-grid-column-one-half">
                        <div id="FeedbackYesNoDiv" class="wrapper-left">
                            @if (!string.IsNullOrWhiteSpace(Model.message))
                            {
                                <h2 id="FeedbackYesNoMessage" class="message">@Model.message</h2>
                            }
                            
                            <p id="FeedbackYesNoPanel" class="govuk-button-group">
                                @if (!string.IsNullOrWhiteSpace(Model.titleYes.url))
                                {
                                    <button id="link-cmspageviews-feedbackpromptjs-yes" role="button"
                                       onclick="feedback('yes')" data-tabclick="true"
                                       class="govuk-button @SetButtonType(Model.titleYes.type, Model.titleYes.custom_class)"
                                       data-module="govuk-button" tabindex="0">
                                        @Model.titleYes.label
                                    </button>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.titleNo.url))
                                {
                                    <button id="link-cmspageviews-feedbackpromptjs-no" role="button"
                                       onclick="feedback('no')" data-tabclick="true"
                                       class="govuk-button @SetButtonType(Model.titleNo.type, Model.titleNo.custom_class)"
                                       data-module="govuk-button" tabindex="0">
                                        @Model.titleNo.label
                                    </button>
                                }
                            </p>
                        </div>
                    </div>

                    <div id="FeedbackReportProblemDiv" class="govuk-grid-column-one-half">
                            <div id="feedback-prompt-6" class="wrapper-right">
                                @if (!string.IsNullOrWhiteSpace(Model.titleReport.url))
                                {
                                    <button id="link-cmspageviews-feedbackpromptjs-report" role="button"
                                       onclick="feedback('report')" data-tabclick="true"
                                       class="govuk-button @SetButtonType(Model.titleReport.type, Model.titleReport.custom_class)"
                                       data-module="govuk-button" tabindex="0">
                                        @Model.titleReport.label
                                    </button>
                                }
                            </div>
                    </div>
            </div>
        </div>

        <div id="FeedbackHelpUsImproveDiv" class="feedback-no-container beis-white" style="display:none">
            <div class="govuk-width-container">
                @if (Model.NoCancelButton != null)
                {
                    <button id="link-cmspageviews-feedbackpromptjs-not-useful" class="govuk-button govuk-button--secondary"
                       onclick="feedback('close')" data-tabclick="true"
                       data-track-category="yesNoFeedbackForm"
                       data-track-action="FormClose"
                       aria-controls="page-is-not-useful"
                       aria-expanded="false" tabindex="0">
                        @Model.NoCancelButton.label
                    </button>
                }

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
                        @if (!string.IsNullOrWhiteSpace(@Model.NoHeader))
                        {
                            <h3>@Model.NoHeader</h3>
                        }
                        <p id="survey_explanation" class="govuk-body">
                            @if (!string.IsNullOrWhiteSpace(Model.NoCopy))
                            {
                                var strcopy = Markdown.ToHtml(Model.NoCopy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
                                @Html.Raw(strcopy);
                            }
                        </p>
                        <div class="govuk-form-group">
                            <label for="email" class="govuk-label">@(String.IsNullOrWhiteSpace(Model.NoLabel1) ? "Email address" : Model.NoLabel1)</label>
                            <input name="email_survey_signup" class="govuk-input" id="email" type="email" autocomplete="email" aria-describedby="survey_explanation">
                        </div>

                        @if (Model.NoSubmitButton != null)
                        {
                            <p class="govuk-button-group">
                                <a id="link-cmspageviews-feedbackpromptjs-no-submit-button" role="button"
                                   class="govuk-button primary">
                                    @Model.NoSubmitButton.label
                                </a>

                                @if (Model.NoEmailAddressLink != null)
                                {
                                    <a ga-data-action-id="link-cmspageviews-feedbackpromptjs-take-survey" href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/service-manual/service-assessments/get-feedback-page&amp;amp;gcl=2049733727.1626700136"
                                       class="govuk-link"
                                       id="take-survey"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        @Model.NoEmailAddressLink.label
                                    </a>
                                }
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="FeedbackReportProblemPanel" class="report-poroblem-container beis-white" style="display:none">
            <div class="govuk-width-container">
                 @if (Model.ReportCancelButton != null) {
                    <button id="link-cmspageviews-feedbackpromptjs-page-is-not-useful" class="govuk-button secondary"
                       onclick="feedback('close')" data-tabclick="true"
                       data-track-category="yesNoFeedbackForm"
                       data-track-action="fFormClose"
                       aria-controls="page-is-not-useful"
                       aria-expanded="false">
                        @Model.ReportCancelButton.label
                    </button>
                }

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @if (!string.IsNullOrWhiteSpace(@Model.ReportHeader))
                        {
                            <h3>@Model.ReportHeader</h3>
                        }

                        <div id="feedback_explanation" class="govuk-body">
                            @if (!string.IsNullOrWhiteSpace(Model.ReportCopy))
                            {
                                var reportCopy = Markdown.ToHtml(Model.ReportCopy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">");
                                @Html.Raw(reportCopy);
                            }
                        </div>

                        <div class="govuk-form-group">
                            <label for="doing" class="govuk-label">@Model.ReportLabel1</label>
                            <input name="what_doing" class="govuk-input" id="doing" type="text" aria-describedby="feedback_explanation">
                        </div>

                        <div class="govuk-form-group">
                            <label for="wrong" class="govuk-label">@Model.ReportLabel2</label>
                            <input name="what_wrong" class="govuk-input" id="wrong" type="text">
                        </div>

                        @if (Model.ReportSubmitButton != null)
                        {
                            <p class="govuk-button-group">
                                <button id="link-cmspageviews-feedbackpromptjs-submit" role="button"
                                   onclick="feedback('submit')" data-tabclick="true"
                                   class="govuk-button primary">
                                    @Model.ReportSubmitButton.label
                                </button>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var feedback = function (feedback) {
        switch (feedback) {
            case "no":
            case "yes":
                {
                    processFeedback(feedback);
                    break;
                }
            case "report":
                {
                    $("#FeedbackYesNoContainer").hide();
                    $("#FeedbackReportProblemPanel").show();
                    break;
                }
            case "close":
                {
                    $("#FeedbackReportProblemPanel").hide();
                    $("#FeedbackHelpUsImproveDiv").hide();
                    $("#FeedbackYesNoMessage").html("@Model.message");
                    $("#FeedbackReportProblemDiv").show();
                    $("#FeedbackYesNoDiv").addClass("wrapper-left");
                    $("#FeedbackYesNoContainer").show();
                    $("#FeedbackYesNoPanel").show();
                    break;
                }
            case "submit":
                {
                    var strDoing = $("#doing").val().trim();
                    var strWrong = $("#wrong").val().trim();
                    if (strDoing == "") {
                        alert("Please tell us what you were doing");
                        $("#doing").focus();
                        break;
                    }

                    if (strWrong == "") {
                        alert("Please tell us what went wrong");
                        $("#wrong").focus();
                        break;
                    }

                    processReport(strDoing, strWrong);
                    break;
                }
            default:
                {
                    break;
                }
        }
    }

    var processFeedback = function (feedback) {
    $.ajax({
            type: "GET",
            url: "/feedback/useful",
            data: {
                "url": location.pathname,
                "IsPageUseful": feedback
            },
            success: function () {
                $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-useful-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
                $("#FeedbackYesNoDiv").removeClass("wrapper-left");
                $("#FeedbackYesNoPanel").hide();
                $("#FeedbackReportProblemDiv").hide();
            },
            error: function () {
                $("#FeedbackYesNoMessage").html("We were unable to save your feedback. Please try again.");
            }
        });
    }

    var processReport = function (doing, wrong) {
        $.ajax({
            type: "GET",
            url: "/feedback/report-problem",
            data: {
                "url": location.pathname,
                "whatIWasDoing": doing,
                "whatWentWrong": wrong
            },
            success: function () {
                $("#FeedbackYesNoMessage").html("Thank you for your feedback. If you’d like to tell us more about your experience today, <a id='link-cmspageviews-feedbackpromptjs-problem-please-visit-survey' title='Please visit our survey' target='_blank'  href='https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu' class='beis-white-text'>please visit our survey</a>.");
                $("#FeedbackYesNoDiv").removeClass("wrapper-left");
                $("#FeedbackYesNoContainer").show();
                $("#FeedbackReportProblemPanel").hide();
                $("#FeedbackHelpUsImproveDiv").hide();
                $("#FeedbackReportProblemDiv").hide();
                $("#FeedbackYesNoPanel").hide();

            },
            error: function () {
                $("#FeedbackYesNoMessage").html("We were unable to save your problem report. Please try again.");
            }
        });
    }
</script>