@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

@if (Model.textblocks.Count >= 1)
{
    Model.hide = Model.hide.HasValue ? Model.hide : false;

    if (Model.hide == false)
    {
    <div class="beis-feature govuk-width-container" id="@("anchor" +  Model.Index)">
        <div class="govuk-grid-row beis-feature__row">
            <div class="govuk-grid-column-two-thirds">
                    @if (!string.IsNullOrWhiteSpace(Model.textblocks[0].header))
                    {
                        <h1 class="govuk-heading-xl beis-feature__heading @*@Model.textblocks[0].subheaderColor*@"> @Model.textblocks[0].header</h1>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.textblocks[0].subheader))
                    {
                        <h2 class="govuk-heading-l beis-feature__sub-heading @*@Model.textblocks[0].subheaderColor*@"> @Model.textblocks[0].subheader</h2>
                    }

                    @Html.Raw(Markdown.ToHtml(Model.textblocks[0].copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">").Replace("</p>", "</p>"))

                    @foreach (var link in Model.links)
                    {

                        @if (!string.IsNullOrWhiteSpace(link.anchorlink))
                        {
                            <a id="link-cmspageviews-2columns-@(link.GetGaLinkId())" class="beis-icon-link @link.custom_class"
                                href="@link.anchorlink" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"/>
                                </svg>
                                @link.label
                            </a>
                        }

                        @if (!string.IsNullOrWhiteSpace(link.url))
                        {
                            <a id="link-cmspageviews-2columns-@(link.GetGaLinkId())" class="beis-icon-link @link.custom_class"
                                href="@link.url" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)">
                                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="beis-icon-link__icon">
                                    <path d="M11.5 23.9524C17.8513 23.9524 23 18.8037 23 12.4524C23 6.10112 17.8513 0.952393 11.5 0.952393C5.14873 0.952393 0 6.10112 0 12.4524C0 18.8037 5.14873 23.9524 11.5 23.9524Z" fill="currentColor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 12.4473L11 7.94434L12.293 6.65234L18.088 12.4473L12.293 18.2423L11 16.9503L15.503 12.4473Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 11.5325H16.1051V13.3605H4.62012V11.5325Z" fill="white"/>
                                </svg>
                                @Html.Raw(link.label)
                            </a>
                        }
                    }
            </div>
            <div class="govuk-grid-column-one-third">
                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.image.url, CssClass = "hero-mobile-image", Title = Model.image.alternativeText }' />
            </div>
        </div>
    </div>
    }
}
