@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strTopLineBg = "";
    var model = ViewData["model"] != null? (CMSPageViewModel)ViewData["model"] : new CMSPageViewModel();
}

@if (Model.textblocks != null)
{
    if (Model.textblocks.Count > 0)
    {
        foreach (var textblock in Model.textblocks)
        {
            textblock.hide = textblock.hide.HasValue ? textblock.hide : false;

            if (textblock.hide == false)
            {
                strTopLineBg = (!string.IsNullOrWhiteSpace(Model.background)) ? CamelCaseConverter.Delimiter(Model.background, "-") : "";

                <div class="govuk-width-container" id="@("anchor" + ViewData["intCurrComponentIndex"])">
                    <div class="govuk-grid-row">
                        @foreach (var component in model.components.Where(item => item.search_articles != null))
                        {
                            var externalArticles = component.search_articles.Where(item => item.articleType == "external").ToList();
                            var internalArticles = component.search_articles.Where(item => item.articleType == "internal").ToList();
                            if (Model.type.Equals("articleinternal", StringComparison.OrdinalIgnoreCase) && internalArticles.Count > 0)
                            {
                                <div class="govuk-grid-column-two-thirds">
                                    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                                        @if (!string.IsNullOrWhiteSpace(textblock.subheader))
                                        {
                                            <h2 class="govuk-heading-l govuk-!-padding-top-3">@textblock.subheader</h2>
                                        }
                                    </div>
                                </div>
                                <partial name="DiagnosticToolFormViews/_PartialSearchArticles" model="@internalArticles" />
                            }
                            if (Model.type.Equals("articleexternal", StringComparison.OrdinalIgnoreCase) && externalArticles.Count > 0)
                            {
                                <div class="govuk-grid-column-two-thirds">
                                    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                                        @if (!string.IsNullOrWhiteSpace(textblock.subheader))
                                        {
                                            <h2 class="govuk-heading-l govuk-!-padding-top-3">@textblock.subheader</h2>
                                        }
                                    </div>
                                </div>
                                <partial name="DiagnosticToolFormViews/_PartialSearchArticles" model="@externalArticles" />
                            }
                        }
                    </div>
                </div>
            }
        }

    }
}