@model (IList<Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageLink> cmsPageLinks, string linksAlign)
@{
    var linksAlign = Model.linksAlign ?? string.Empty;
}

@if (Model.cmsPageLinks is {Count: > 0 })
{
    @foreach (var link in Model.cmsPageLinks)
    {
        link.hide = link.hide.HasValue ? link.hide : false;

        if (link.hide == false)
        {
            if (!string.IsNullOrWhiteSpace(link.url))
            {
                if (link.url.StartsWith("http") || link.url.StartsWith("/"))
                {
                    var linkAction = string.IsNullOrWhiteSpace(link.url) ? string.Empty : link.url.StartsWith("http") ? link.url : link.AlteredUrl;

                    <div class="@link.custom_class @linksAlign">
                        <div>
                            <span class="beis-link-icon">
                                @if (link.icon != null)
                                {
                                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = link.icon.url, CssClass = "svgimg beis-link-icon " + linksAlign, Width =  link.icon.width, Height = link.icon.height, Title = link.icon.alternativeText }' />
                                }
                            </span>
                            @if (link.url.StartsWith("http"))
                            {
                                <a id="link-@(link.GetGaLinkId())" class="govuk-link @link.AlteredCustomClass" href="@linkAction" target="" aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)"> @link.label </a>
                            }
                            else
                            {
                                <a id="link-@(link.GetGaLinkId())" class="govuk-link @link.AlteredCustomClass" href="/@linkAction"
                                aria-label="@(string.IsNullOrWhiteSpace(link.aria) ? "Read the article on " + link.id : link.aria)"> @link.label </a>
                            }
                        </div>
                    </div>
                }
            }
        }
    }
}