@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent

@if (!string.IsNullOrWhiteSpace(Model.url))
{
    <div id="@("anchor" + Model.Index)" class="video @Model.AlteredBackground">
        <div class="govuk-width-container">
            <div class="@Model.AlteredPaddingTopSpace @Model.AlteredPaddingBottomSpace">
                @if (Model.textblock != null)
                {
                    foreach (var item in Model.textblock)
                    {
                        if (!string.IsNullOrWhiteSpace(item.subheader))
                        {
                            <h2 class="govuk-heading-l @(CamelCaseConverter.Delimiter(item.subheaderColor, "-") + "-text")">
                                @Html.Raw(item.subheader)
                            </h2>
                        }
                    }
                }

                <div class="youtube-container">
                    <iframe width="560" height="315" src="@Model.url.Replace("youtu.be","www.youtube.com/embed/")" title="@Model.title" style="border:0px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                @if (Model.textblock != null)
                {
                    @if (Model.textblock.Count > 0)
                    {
                        if (!string.IsNullOrWhiteSpace(Model.textblock[0].copy))
                        {
                            <div class="beis-text govuk-body govuk-!-padding-top-6 govuk-!-padding-bottom-6">
                                @foreach (var item in Model.textblock)
                                {
                                    @Html.Raw(Markdown.ToHtml(item.copy).Replace("<p>", "<span class=\"govuk-body\">").Replace("</p>", "</span><br/>"))
                                }
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
}