@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, int componentIndex)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

@{             
    Model.component.hide = Model.component.hide.HasValue ? Model.component.hide : false;

    if (Model.component.hide == false)
    {
        <div class="beis-table" id="@("anchor" + Model.componentIndex)">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                @if (!string.IsNullOrWhiteSpace(Model.component.one))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.component.one</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.component.two))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.component.two</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.component.three))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.component.three</th>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.component.four))
                                {
                                    <th scope="col" class="govuk-table__header">@Model.component.four</th>
                                }
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            @if (Model.component.rows?.Count > 0)
                            {
                                for (var i = 0; i < Model.component.rows.Count; i++)
                                {
                                    <tr class="govuk-table__row">
                                        @if (!string.IsNullOrWhiteSpace(Model.component.one))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.component.rows[i].one, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.component.two))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.component.rows[i].two, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>                                        
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.component.three))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.component.rows[i].three, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>                                        
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.component.four))
                                        {
                                            <td class="govuk-table__cell">
                                                <p>@Html.Raw(Markdown.ToHtml(Model.component.rows[i].four, _pipeline).Replace("<p>", "").Replace("</p>", ""))</p>
                                            </td>
                                        }
                                    </tr>
                                }

                            }
                            </tbody>
                        </table>
                        <partial name="CMSPageViews/_PartialTextButtons" model="@Model.component" />
                        <partial name="CMSPageViews/_PartialTextLinks" model="@Model.component.links" />

                    </div>
                </div>
            </div>
        </div>
    }
}