@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<div class="govuk-width-container @Model.AlteredPaddingTopSpace @Model.AlteredPaddingBottomSpace" id="@("anchor" + Model.Index)">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-padding-bottom-6 @CamelCaseConverter.Delimiter(Model.background, "-")">
                @if (Model.image != null)
                {
                    <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.image.url, Title = Model.image.alternativeText, CssClass="beis-image" }' />
                }
            </div>

            @if(Model.textblocks?.Count > 0)
            {
                if (Model.textblocks[0].copy?.Length > 0)
                {
                    <p class="govuk-body beis-image-caption">@Markdown.ToHtml(Model.textblocks[0].copy, _pipeline).Replace("<p>", string.Empty).Replace("</p>", string.Empty)</p>
                }
            }
        </div>
    </div>
</div>