@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

@if (Model.textblocks != null)
{
    if (Model.textblocks.Count > 0)
    {
        foreach (var textBlock in Model.textblocks)
        {
            textBlock.hide = textBlock.hide.HasValue ? textBlock.hide : false;

            if (textBlock.hide == false)
            {
                <div class="tags" id="@("anchor" + Model.Index)">
                    <div class="govuk-grid-row @CamelCaseConverter.Delimiter(Model.background, "-")">
                        <div class="govuk-width-container">
                            <div class="govuk-grid-column-two-thirds">
                                <div class="@Model.AlteredPaddingTopSpace  @Model.AlteredPaddingBottomSpace">
                                    <div class="govuk-body govuk-!-font-size-36">
                                        @Html.Raw(Markdown.ToHtml(textBlock.copy, _pipeline))
                                    </div>
                                    <partial name="CMSPageViews/_PartialTextLinks" model="@(Model.links, Model.linksAlign)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}