@model CmsNextPageRadioButtonViewModel
@if (Model.HasContent == false)
{
    return;
}


<div class="govuk-width-container govuk-!-padding-top-4 govuk-!-padding-bottom-2">
    <div class="govuk-grid-row">
        <div id="cms_component_NextPageRadioButton_divjsenabled" style="display:none;" class="beis-white govuk-grid-column-two-thirds">

            <div class="govuk-radios">
                @if (Model.Radio1HasContent)
                {
                    <div class="govuk-radios__item">
                        <input id="cms_component_NextPageRadioButton_rdo1" type="radio" value="1" class="govuk-radios__input" checked name="cms_component_NextPageRadioButton_rdo1">
                        <label for="cms_component_NextPageRadioButton_rdo1_lbl" class="govuk-label govuk-radios__label"><strong>@Model.Radio1BoldLeadText</strong>@Model.Radio1Text</label>
                    </div>                    
                }

                @if (Model.Radio2HasContent)
                {
                    <div class="govuk-radios__item">
                        <input id="cms_component_NextPageRadioButton_rdo2" type="radio" value="2" class="govuk-radios__input" name="cms_component_NextPageRadioButton_rdo2">
                        <label for="cms_component_NextPageRadioButton_rdo2_lbl" class="govuk-label govuk-radios__label"><strong>@Model.Radio2BoldLeadText</strong>@Model.Radio2Text</label>
                    </div>
                    
                }

                @if (Model.Radio3HasContent)
                {
                    <div class="govuk-radios__item">
                        <input id="cms_component_NextPageRadioButton_rdo3" type="radio" value="3" class="govuk-radios__input" name="cms_component_NextPageRadioButton_rdo3">
                        <label for="cms_component_NextPageRadioButton_rdo3_lbl" class="govuk-label govuk-radios__label"><strong>@Model.Radio3BoldLeadText</strong>@Model.Radio3Text</label>
                    </div>                    
                }


            </div>

            <div class="beis-text govuk-!-padding-top-6" id="anchor3">
                <div class="">
                    <div class="govuk-width-container">
                        <div class="govuk-grid-row">

                            <p class="govuk-button-group">
                                <a id="cms_component_NextPageRadioButton_btn1" href="@Model.Radio1Url" style="display:" role="button" draggable="false" class="govuk-button govuk-button--start primary " data-module="govuk-button">
                                    @Model.ButtonText
                                </a>
                                <a id="cms_component_NextPageRadioButton_btn2" href="@Model.Radio2Url" style="display:none;" role="button" draggable="false" class="govuk-button govuk-button--start primary " data-module="govuk-button">
                                    @Model.ButtonText
                                </a>
                                <a id="cms_component_NextPageRadioButton_btn3" href="@Model.Radio3Url" style="display:none" role="button" draggable="false" class="govuk-button govuk-button--start primary " data-module="govuk-button">
                                    @Model.ButtonText
                                </a>
                            </p>



                        </div>
                    </div>
                </div>
            </div>



        </div>
        <noscript>
            <div class="beis-white govuk-grid-column-two-thirds">
                <div class="  govuk-!-padding-bottom-6">
                    @if (Model.Radio1HasContent)
                    {
                        <partial name="CMSPageViews/_PartialSingleLink" model="@(Model.Radio1BoldLeadText, Model.Radio1Text, Model.Radio1Url)" />                        
                    }
                    
                    @if (Model.Radio2HasContent)
                    {
                        <partial name="CMSPageViews/_PartialSingleLink" model="@(Model.Radio2BoldLeadText, Model.Radio2Text, Model.Radio2Url)" />                        
                    }
                    
                    @if (Model.Radio3HasContent)
                    {
                        <partial name="CMSPageViews/_PartialSingleLink" model="@(Model.Radio3BoldLeadText, Model.Radio3Text, Model.Radio3Url)" />                        
                    }                   
                                       
                </div>
            </div>
        </noscript>
    </div>
</div>
