@model Beis.LearningPlatform.Web.Models.DiagnosticTool.DiagnosticToolForm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    CMSPageComponent divider = new() { color = "beisGrey", type = "divider" };

    Model.ResetSteps();
    var tagList = new List<string>();
}

<hr class="beis-grey divider" aria-hidden="true">

@if (Model.side_navigations != null)
{
    <partial name="CMSPageViews/_PartialSideNavigation" model="@Model.side_navigations" />
}

<main id="main-heading" role="main">
    <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-padding-top-3">
                    Your results
                </h1>
                <div class="details">
                    <div class="beis-white">
                        <div>
                            <p class="govuk-body"><strong>What you've told us...</strong></p>
                            <p class="govuk-body">
                                Your business is in the <strong class="">@(Model.IsQuestion2Correct? Model.steps[1].elements[0].selectedValue : "<error: Question 2 changed>")</strong> sector and you mostly trade
                                <strong class="">@(Model.IsQuestion1Correct? Model.steps[0].elements[0].value : "<error: Question 1 changed>")</strong>.
                                <br><br>
                                You <strong class="">@Model.AnswerHowDoYouUseSoftware</strong>.
                                <br>
                            </p>
                            <div class="results-link">
                                <span class="beis-link-icon">
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 23C17.8513 23 23 17.8513 23 11.5C23 5.14873 17.8513 0 11.5 0C5.14873 0 0 5.14873 0 11.5C0 17.8513 5.14873 23 11.5 23Z" fill="black"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.503 11.4942L11 6.99122L12.293 5.69922L18.088 11.4942L12.293 17.2892L11 15.9972L15.503 11.4942Z" fill="white"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62012 10.5801H16.1051V12.4081H4.62012V10.5801Z" fill="white"></path>
                                    </svg>
                                </span>
                                <a id="link-diagnostictool-result-change-answers" class="govuk-link"
                                   href="/diagnostic-tool/summary"
                                   title="Change your answers">
                                    Change your answers
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="govuk-body govuk-!-padding-top-3">
                    @if (Model.IsQuestion6Correct)
                    {
                        if (Model.IsAnswerYes)
                        {
                            @Html.Raw("You are interested in <strong class=\"\">" + Model.InterestsSummary + "</strong>.")
                            <br />
                            <br />
                            @Html.Raw("Based on your answers, we recommend <strong class=\"\">" + Model.InterestsSummary + "</strong> for your business.")
                            <br />
                            <h2 class="govuk-heading-l govuk-!-padding-top-8">What software discount and guidance can you get?</h2>

                            <p class="govuk-body">
                                Help to Grow: Digital offers your business a discount of up to 50% towards the cost of buying approved software, worth up to &pound;5,000. 
                            </p>

                            <p class="govuk-body">
                                To apply for your discount today, please compare and then select an approved software product below.  
                            </p>

                            <p class="govuk-body">
                                Discounts are subject to business eligibility. Check if you are eligible <a id="link-diagnostictool-result-eligible" href="https://www.learn-to-grow-your-business.service.gov.uk/eligibility">here</a>. 
                            </p>
                        }
                        else
                        {
                            if (Model.DistinctTagsFromQuestion7 != null)
                            {
                                @Html.Raw("The tasks you want to streamline include: <strong class=\"\">" + Model.InterestsSummary + "</strong>.")
                                <br />
                                <br />
                                @foreach (var tag in Model.DistinctTagsFromQuestion7)
                                {
                                    tagList.Add(CamelCaseConverter.Delimiter(await tag.DisplayName(tag.ToString()), " "));
                                }
                                @if (tagList.Any())
                                {
                                    @Html.Raw("Based on your answers, we recommend ")
                                    <strong>@ListJoinFormatter.ReplaceLastCharacterWith(string.Join("; ", tagList), ";", "and")</strong>
                                    @Html.Raw(" for your business.")
                                }
                            }
                            else
                            {
                                @Html.Raw("Here are some articles and guides to help you take the next step on your digital journey.")
                            }
                            <br />
                        }
                    }
                    else
                    {
                        @Html.Raw("<error: Question 1 changed>")
                    }
                </p>
            </div>
        </div>
        <partial name="CMSPageViews/_PartialDivider" model="@divider" />

        @if (Model.ComparisonToolProducts?.Count > 0)
        {
            var subHeader = string.Empty;
            int currentCategoryId = 0;
            <div class="govuk-width-container govuk-!-padding-top-8  govuk-!-padding-bottom-8 product">
                if (Model.AccountingProducts?.Count > 0)
                {
                    @subHeader = "Digital accounting software";
                    currentCategoryId = Model.Tags.Single(r => r.name.Equals("accounting", StringComparison.OrdinalIgnoreCase)).id;
                    <div class="jsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategory" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.AccountingProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                    <div class="noJsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.AccountingProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                }

                if (Model.CrmProducts?.Count > 0)
                {
                    @subHeader = "Customer Relationship Management (CRM) Software";
                    currentCategoryId = Model.Tags.Single(r => r.name.Equals("crm", StringComparison.OrdinalIgnoreCase)).id;
                    <div class="jsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategory" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.CrmProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                    <div class="noJsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.CrmProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                }

                if (Model.ECommerceProducts?.Count > 0)
                {
                    @subHeader = "eCommerce software";
                    currentCategoryId = Model.Tags.Single(r => r.name.Equals("ecommerce", StringComparison.OrdinalIgnoreCase)).id;
                    <div class="jsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategory" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.ECommerceProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                    <div class="noJsLink">
                        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="new ComparisonToolProductCategoryViewModel { CurrentCategoryId = currentCategoryId, productsForCurrentCategoryToRender = Model.ECommerceProducts, subheader = @subHeader, VendorProdLogorUrl = Model.VendorProdLogorUrl }" />
                    </div>
                }
            </div>

            <script src="~/js/comparisontool.js"></script>
        }

        <div class="govuk-grid-row govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l govuk-!-padding-top-8 ">
                    Expert guidance matching your answers
                </h2>
            </div>
        </div>
        <partial name="DiagnosticToolFormViews/_PartialSearchArticles" model="@(Model.RelatedArticles, string.Empty)" />

        @if (Model.RegisterYourInterestBlock != default)
        {
            <partial name="CMSPageViews/_PartialDivider" model="@divider" />
            <partial name="CMSPageViews/_Partial2Columns" model="@Model.RegisterYourInterestBlock" />
        }
    </div>
</main>