@model Beis.LearningPlatform.Web.Models.CmsCardViewModel

<div class="card">

    <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <noscript>
                    <div class="cards one">
                        <div class="card-content">
                            @Html.Raw(Model.One)
                        </div>
                        <div class="one number" tabindex="0">1</div>
                    </div>
                    <div class="cards two">
                        <div class="card-content">
                            @Html.Raw(Model.Two)
                        </div>
                        <div class="two number" tabindex="0">2</div>
                    </div>
                    <div class="reverse-block">
                        <div class="cards three">
                            <div class="card-content">
                                @Html.Raw(Model.Three)
                            </div>
                            <div class="three number" tabindex="0">3</div>
                        </div>
                        <div class="cards four">
                            <div class="card-content">
                                @Html.Raw(Model.Four)
                            </div>
                            <div class="four number" tabindex="0">4</div>
                        </div>
                    </div>
                </noscript>
                <div id="card1" class="cards one hidden-card no-script-hidden-card">
                    <div class="card-content">
                        @Html.Raw(Model.One)
                    </div>
                    <a class="one number" id="roundel1" href="javascript:;" data-tabclick="true" title="Click or tab to reveal content">1</a>
                </div>
                <div id="card2" class="cards two hidden-card no-script-hidden-card">
                    <div class="card-content">
                        @Html.Raw(Model.Two)
                    </div>
                    <a class="two number" id="roundel2" href="javascript:;" data-tabclick="true" title="Click or tab to reveal content">2</a>
                </div>
                <div class="reverse-block">
                    <div id="card3" class="cards three hidden-card no-script-hidden-card">
                        <div class="card-content">
                            @Html.Raw(Model.Three)
                        </div>
                        <a class="three number" id="roundel3" href="javascript:;" data-tabclick="true" title="Click or tab to reveal content">3</a>
                    </div>
                    <div id="card4" class="cards four hidden-card no-script-hidden-card">
                        <div class="card-content">
                            @Html.Raw(Model.Four)
                        </div>
                        <a class="four number" id="roundel4" href="javascript:;" data-tabclick="true" title="Click or tab to reveal content">4</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>