@model Beis.LearningPlatform.Web.Models.CmsCardViewModel

<div class="card">

    <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <noscript>
                    <div class="cards one">
                        <div class="card-content">
                            @Html.Raw(Model.One)
                        </div>
                        <button class="one number">1</button>
                    </div>
                    <div class="cards two">
                        <div class="card-content">
                            @Html.Raw(Model.Two)
                        </div>
                        <button class="two number">2</button>
                    </div>
                    <div class="reverse-block">
                        <div class="cards three">
                            <div class="card-content">
                                @Html.Raw(Model.Three)
                            </div>
                            <button class="three number">3</button>
                        </div>
                        <div class="cards four">
                            <div class="card-content">
                                @Html.Raw(Model.Four)
                            </div>
                            <button class="four number">4</button>
                        </div>
                    </div>
                </noscript>
                <div id="card1" class="cards one hidden-card no-script-hidden-card">
                    <div class="card-content">
                        @Html.Raw(Model.One)
                    </div>
                    <button class="one number" id="roundel1">1</button>
                </div>
                <div id="card2" class="cards two hidden-card no-script-hidden-card">
                    <div class="card-content">
                        @Html.Raw(Model.Two)
                    </div>
                    <button class="two number" id="roundel2">2</button>
                </div>
                <div class="reverse-block">
                    <div id="card3" class="cards three hidden-card no-script-hidden-card">
                        <div class="card-content">
                            @Html.Raw(Model.Three)
                        </div>
                        <button class="three number" id="roundel3">3</button>
                    </div>
                    <div id="card4" class="cards four hidden-card no-script-hidden-card">
                        <div class="card-content">
                            @Html.Raw(Model.Four)
                        </div>
                        <button class="four number" id="roundel4">4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>