@model Beis.LearningPlatform.Web.Models.CmsLinkListHeroViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="beis-link-list" id="@("hero-link-container" + Model.Component.id)">
    <div class="govuk-width-container">
        <h3 class="govuk-heading-m beis-link-list__heading">@Model.Component.header</h3>
        <ul class="beis-link-list__list">
        @foreach (var heroLink in Model.HeroLinks)
        {
            <li><a id="@heroLink.GetGaLinkId("hero-link-")" href="@heroLink.LinkUrl" title="@heroLink.LinkText" class="govuk-link beis-link-list__link">@heroLink.LinkText</a></li>
        }
        </ul>
    </div>
</div>