@model Beis.LearningPlatform.Web.Models.CmsLinkListHeroViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="link-list-hero" id="@Model.Component.id">
    <div class="govuk-width-container govuk-!-margin-bottom-2 govuk-!-margin-top-6">
        <div class="govuk-grid-row beis-columns-same-height">
            <div class="govuk-grid-column-full govuk-body">
                <h3>@Model.Component.header</h3>
                @foreach (var heroLink in Model.HeroLinks)
                {
                    <a id="@heroLink.GetGaLinkId("hero-link-")" href="@heroLink.LinkUrl" title="@heroLink.LinkText" class="govuk-link">@heroLink.LinkText</a> 
                    if(Model.HeroLinks.IndexOf(heroLink) < Model.HeroLinks.Count -1)
                    {
                        <span class="govuk-link-divider"> | </span>
                    }
                }
            </div>
        </div>
    </div>
</div>