@using Beis.LearningPlatform.Web.Enums    
@model Beis.LearningPlatform.Web.Models.CmsStatisticsTextViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="govuk-width-container beis-statistics" id="@Model.Component.id">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds @Model.Component.AlteredPaddingBottomSpace">
            @if (Model.Component.statisticBoxAlignment == AlignmentValue.Left)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="beis-statistics__panel @(Model.ClassNameBackgroundColour)">
                            <span class="beis-statistics__number @(Model.ClassNameStatisticNumberColour)">
                                @Model.Component.statisticNumber
                            </span>
                            <div class="beis-statistics__content @(Model.ClassNameStatisticTextColor)">
                                @Html.Raw(Model.HtmlStatisticText)
                            </div>
                            @if (Model.Component.statisticLink?.Any() == true)
                            {
                                <div class="statistic-link">
                                    @if(!string.IsNullOrEmpty(Model.Component.statisticLink[0].url))
                                    {
                                        <partial name="CMSPageViews/_PartialTextLinks" model="@(Model.Component.statisticLink, Model.Component.linksAlign)" />
                                    }
                                    else
                                    {
                                        <p class="govuk-body">@Model.Component.statisticLink[0].label</p>
                                    }
                                </div>
                            }          
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        @Html.Raw(Model.HtmlText)
                    </div>
                </div>
            }
            @if (Model.Component.statisticBoxAlignment == AlignmentValue.Right)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        @Html.Raw(Model.HtmlText)
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="beis-statistics__panel @(Model.ClassNameBackgroundColour)">
                            <span class="beis-statistics__number @(Model.ClassNameStatisticNumberColour)">
                                @Model.Component.statisticNumber
                            </span>
                            <div class="beis-statistics__content @(Model.ClassNameStatisticTextColor)">
                                @Html.Raw(Model.HtmlStatisticText)
                            </div>
                            @if (Model.Component.statisticLink?.Any() == true)
                            {
                                <div class="statistic-link">
                                    @if(!string.IsNullOrEmpty(Model.Component.statisticLink[0].url))
                                    {
                                        <partial name="CMSPageViews/_PartialTextLinks" model="@(Model.Component.statisticLink, Model.Component.linksAlign)" />
                                    }
                                    else
                                    {
                                        <p class="govuk-body">@Model.Component.statisticLink[0].label</p>
                                    }
                                </div>
                            }          
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>