@model Beis.LearningPlatform.Web.Models.CmsThreeLevelsViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="three-levels" id="@Model.Component.id">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body">
                <div class="levels">
                    <div id="level1" class="level">
                        <div id="header1" tabindex="0" data-tabclick="true" role="button" aria-pressed="false">@Html.Raw(Model.Component.header1)</div>
                        <div id="copy1" class="copy">
                            @Html.Raw(Model.HtmlCopy1)
                        </div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div id="level2" class="level">
                        <div id="header2" tabindex="0" data-tabclick="true" role="button" aria-pressed="false">@Html.Raw(Model.Component.header2)</div>
                        <div id="copy2" class="copy">
                            @Html.Raw(Model.HtmlCopy2)
                        </div>
                    </div>
                    <div class="arrow-icon"></div>
                    <div id="level3" class="level">
                        <div id="header3" tabindex="0" data-tabclick="true" role="button" aria-pressed="false">@Html.Raw(Model.Component.header3)</div>
                        <div id="copy3" class="copy">
                            @Html.Raw(Model.HtmlCopy3)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>